@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import '@astrojs/starlight-tailwind';

@import "@/components/fonts/pxl/able-5.css";
@import "@/components/fonts/pxl/monogram.css";
@import "@/components/fonts/pxl/pixel-digivolve.css";

@import "@/components/styles/pxl/animations.css";
@import "@/components/styles/pxl/pixels.css";
@import "@/components/styles/pxl/cursors.css";
@import "@/components/styles/pxl/filters.css";
@import "@/components/styles/pxl/sprites.css";
@import "@/components/styles/pxl/texts.css";
@import "@/components/styles/pxl/widgets.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: "Pixel Digivolve", "Inter Variable", sans-serif;
  --font-sans: "Able 5", "Inter Variable", sans-serif;
  --font-mono: "Monogram Extended", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --text-2xs: 0.625rem;

  --pixel-size-xs: 0.5px;
  --pixel-size-sm: 1px;
  --pixel-size-md: 2px;
  --pixel-size-lg: 4px;

  --background-image-chrome: linear-gradient(
    to bottom,
    var(--color-white),
    var(--color-gray-400),
    var(--color-gray-300)
  );
  --background-image-cryo: linear-gradient(
    to bottom,
    var(--color-white),
    var(--color-cyan-300),
    var(--color-blue-600)
  );
  --background-image-fire: linear-gradient(
    to bottom,
    var(--color-yellow-300),
    var(--color-orange-500),
    var(--color-red-600)
  );
  --background-image-loot: linear-gradient(
    to bottom,
    white,
    var(--color-yellow-300),
    var(--color-orange-400),
    var(--color-yellow-700)
  );
  --background-image-plasma: linear-gradient(
    to bottom right,
    var(--color-fuchsia-500),
    var(--color-purple-600),
    var(--color-cyan-400)
  );
  --background-image-toxic: linear-gradient(
    to bottom right,
    var(--color-green-200),
    var(--color-green-400),
    var(--color-green-800)
  );
  --background-image-shadow: linear-gradient(
    to bottom right,
    var(--color-purple-300),
    var(--color-purple-700),
    var(--color-purple-950)
  );
  --background-image-synthwave: linear-gradient(
    to bottom,
    var(--color-pink-300),
    var(--color-pink-500),
    var(--color-orange-400),
    var(--color-yellow-300)
  );

  --animate-marquee: marquee var(--tw-duration, 6s) ease-in-out infinite
    alternate;

  --aspect-widget-sm: 1/1;
  --aspect-widget-md: 86/41;
  --aspect-widget-lg: 1/1;
  --aspect-widget-xl: 43/22;

  --widget-width-sm: calc(var(--spacing) * 41);
  --widget-height-sm: calc(var(--spacing) * 41);
  --widget-width-md: calc(var(--spacing) * 86);
  --widget-height-md: calc(var(--spacing) * 41);
  --widget-width-lg: calc(var(--spacing) * 86);
  --widget-height-lg: calc(var(--spacing) * 86);
  --widget-width-xl: calc(var(--spacing) * 176);
  --widget-height-xl: calc(var(--spacing) * 86);

  --container-7xs: 8rem;
  --container-6xs: 10rem;
  --container-5xs: 12rem;
  --container-4xs: 14rem;
  --container-widget-md: calc(var(--spacing) * 41);
  --container-widget-xl: calc(var(--spacing) * 86);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.1929 0.0336 42.11);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1929 0.0336 42.11);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1929 0.0336 42.11);
  /* --primary: oklch(0.1929 0.0336 42.11); */
  /* --primary-foreground: oklch(0.985 0 0); */
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.1929 0.0336 42.11);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.4619 0.0164 67.4);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.1929 0.0336 42.11);
  --destructive: oklch(0.634 0.2539 17.63);
  --border: oklch(0.1929 0.0336 42.11);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.7421 0.1721 359.48);
  --chart-2: oklch(0.548585 0.130659 156.9834);
  --chart-3: oklch(0.7178 0.1604 242.66);
  --chart-4: oklch(0.929656 0.188853 103.2821);
  --chart-5: oklch(0.7892 0.1713 69.64);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.1929 0.0336 42.11);
  --sidebar-primary: oklch(0.1929 0.0336 42.11);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.1929 0.0336 42.11);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.8176 0.0057 274.95);


  --primary: var(--color-blue-50);
  --primary-foreground: var(--color-blue-500);
  --info: var(--color-teal-50);
  --info-foreground: var(--color-teal-500);
  --success: var(--color-green-50);
  --success-foreground: var(--color-green-500);
  --warning: var(--color-orange-50);
  --warning-foreground: var(--color-orange-500);
  --danger: var(--color-red-50);
  --danger-foreground: var(--color-red-500);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}