@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "@/components/fonts/pxl/able-5.css";
@import "@/components/fonts/pxl/monogram.css";
@import "@/components/fonts/pxl/pixel-digivolve.css";

@import "@/components/styles/pxl/animations.css";
@import "@/components/styles/pxl/cursors.css";
@import "@/components/styles/pxl/filters.css";
@import "@/components/styles/pxl/pixels.css";
@import "@/components/styles/pxl/sprites.css";
@import "@/components/styles/pxl/texts.css";
@import "@/components/styles/pxl/widgets.css";
@import "@/components/styles/pxl/keyboard.css";

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme inline {

  
  /*#region Starlight*/
	--color-accent-200: oklch(0.87 0 0);
	--color-accent-600: oklch(0.556 0 0);
	--color-accent-900: oklch(0.439 0 0);
	--color-accent-950: oklch(0.371 0 0);
	--color-gray-100: oklch(97% 0 none);
	--color-gray-200: oklch(92.2% 0 none);
	--color-gray-300: oklch(87% 0 none);
	--color-gray-400: oklch(70.8% 0 none);
	--color-gray-500: oklch(55.6% 0 none);
	--color-gray-700: oklch(37.1% 0 none);
	--color-gray-800: oklch(26.9% 0 none);
	--color-gray-900: oklch(20.5% 0 none);
  /*#endregion*/

  /*#region Shadcn*/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: "Pixel Digivolve", "Inter Variable", sans-serif;
  --font-sans: "Able 5", "Inter Variable", sans-serif;
  --font-mono: "Monogram Extended", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  /*#endregion*/


  /*#region PXL-UI*/
  --font-size-adjust: 0.6;
  --text-4xs: 0.375rem;
  --text-4xs-line-height: calc(1 / 0.375);
  --text-3xs: 0.5rem;
  --text-3xs-line-height: calc(1 / 0.5);
  --text-2xs: 0.625rem;
  --text-2xs-line-height: calc(1 / 0.625);

  --pixel-size-xs: 0.5px;
  --pixel-size-sm: 1px;
  --pixel-size-md: 2px;
  --pixel-size-lg: 4px;

  --background-image-chrome: linear-gradient(
    to bottom,
    var(--color-white),
    var(--color-gray-400),
    var(--color-gray-300)
  );
  --background-image-cryo: linear-gradient(
    to bottom,
    var(--color-white),
    var(--color-cyan-300),
    var(--color-blue-600)
  );
  --background-image-fire: linear-gradient(
    to bottom,
    var(--color-yellow-300),
    var(--color-orange-500),
    var(--color-red-600)
  );
  --background-image-loot: linear-gradient(
    to bottom,
    white,
    var(--color-yellow-300),
    var(--color-orange-400),
    var(--color-yellow-700)
  );
  --background-image-plasma: linear-gradient(
    to bottom right,
    var(--color-fuchsia-500),
    var(--color-purple-600),
    var(--color-cyan-400)
  );
  --background-image-toxic: linear-gradient(
    to bottom right,
    var(--color-green-200),
    var(--color-green-400),
    var(--color-green-800)
  );
  --background-image-shadow: linear-gradient(
    to bottom right,
    var(--color-purple-300),
    var(--color-purple-700),
    var(--color-purple-950)
  );
  --background-image-synthwave: linear-gradient(
    to bottom,
    var(--color-pink-300),
    var(--color-pink-500),
    var(--color-orange-400),
    var(--color-yellow-300)
  );

  --animate-blink: blink var(--tw-duration, 1s) steps(1) infinite;
  --animate-marquee: marquee var(--tw-duration, 6s) ease-in-out infinite alternate;
  --animate-shine: shine var(--tw-duration, 1s) ease-in-out infinite;  

  --aspect-widget-sm: 1/1;
  --aspect-widget-md: 86/41;
  --aspect-widget-lg: 1/1;
  --aspect-widget-xl: 43/22;

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --widget-width-sm: calc(var(--spacing) * 41);
  --widget-height-sm: calc(var(--spacing) * 41);
  --widget-width-md: calc(var(--spacing) * 86);
  --widget-height-md: calc(var(--spacing) * 41);
  --widget-width-lg: calc(var(--spacing) * 86);
  --widget-height-lg: calc(var(--spacing) * 86);
  --widget-width-xl: calc(var(--spacing) * 176);
  --widget-height-xl: calc(var(--spacing) * 86);

  --container-7xs: 8rem;
  --container-6xs: 10rem;
  --container-5xs: 12rem;
  --container-4xs: 14rem;
  --container-widget-md: calc(var(--spacing) * 41);
  --container-widget-xl: calc(var(--spacing) * 86);
  /*#endregion*/
}


:root {

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0); */
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);


  --primary: var(--color-sky-100);
  --primary-foreground: var(--color-sky-600);
  --info: var(--color-teal-100);
  --info-foreground: var(--color-teal-600);
  --success: var(--color-lime-100);
  --success-foreground: var(--color-lime-600);
  --warning: var(--color-orange-100);
  --warning-foreground: var(--color-orange-600);
  --danger: var(--color-red-100);
  --danger-foreground: var(--color-red-600);

}

.dark, [data-theme="dark"] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0); */
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --primary: var(--color-sky-800);
  --primary-foreground: var(--color-sky-400);
  --info: var(--color-teal-800);
  --info-foreground: var(--color-teal-400);
  --success: var(--color-lime-800);
  --success-foreground: var(--color-lime-400);
  --warning: var(--color-orange-800);
  --warning-foreground: var(--color-orange-400);
  --danger: var(--color-red-800);
  --danger-foreground: var(--color-red-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

body {
  @apply bg-background;
}

.content-panel, .right-sidebar {
  @apply border-none;
}

.sidebar-pane {
  .top-level > li {
    @apply mt-0;
    & > a {
      @apply py-[4.2px] text-sm!;
    }
  }

  details {
    @apply mt-2;
  }

  .top-level > li:nth-child(1 of :has(> details)) > details {
    @apply mt-4;
  }

  li {
    @apply border-s-0;
  }

  li a span,
  .group-label span {
    @apply text-xs font-normal;
  }

  li a[aria-current=page] {
    @apply border-none shadow-none pixel-border bg-muted pixel-color-muted text-foreground;
  }

  li a span {
    @apply text-foreground;
  }

  .group-label span {
    @apply text-muted-foreground;
  }

  li summary svg {
    @apply hidden;
  }
}

.right-sidebar-container {
  @apply md:w-72;
}

.right-sidebar {

  .right-sidebar-panel {
    @apply mt-4 px-8;

    & > div {
      @apply p-4;
    }

    nav ul > li > a {
      @apply px-[calc(1rem*var(--depth))_var(--pad-inline)];
    }
  }

  #starlight__on-this-page {
    @apply h-6 mb-2 text-xs font-normal text-muted-foreground;
  }
  
  /* Hide "Overview" label on ToC */
  nav > ul > li:first-child {
    @apply hidden;
  }

  ul {
    @apply flex flex-col gap-2;
  }

  ul li a {
    @apply text-xs;
  }

  ul li ul {
    @apply mt-2;
  }
}

[data-has-sidebar] {
  .main-frame {
    .main-pane {
      @apply w-full flex-1;
      
      .content-panel {
        @apply md:px-0 md:max-w-160 md:mx-auto py-0;
      }
    }
  }

  .main-frame > div {
    @apply w-full;
  }
}

.content-panel *:not(.not-content) {

  hr:not(.not-content, .not-content *) {
    @apply mt-8;
  }

  .sl-heading-wrapper:not(.not-content, .not-content *) {
    &.level-h2 {
      @apply mt-8;
    }
  }

  :not(.not-content, .not-content *) {
    @apply text-sm;
  }

  code:not(.not-content, .not-content *) {
    @apply font-mono text-xs pixel-rounded pixel-size-md;
  }

  h1:not(.not-content, .not-content *) {
    @apply font-heading text-3xl italic;
  }

  h2:not(.not-content, .not-content *) {
    @apply font-heading font-normal text-xl;
  }

  h3:not(.not-content, .not-content *) {
    @apply font-sans font-semibold text-base text-foreground;
  }

  table:not(.not-content, .not-content *) {
    @apply table w-full;

    code {
      @apply flex w-fit;
    }
  }

  .expressive-code:not(.not-content, .not-content *) {
    @apply pixel-size-lg pixel-color-border pixel-border p-(--pixel-size);
  }
}

.expressive-code {
  --ec-codeBg: var(--muted);
  --ec-frm-edBg: var(--muted);

  pre {
    @apply scrollbar-none font-mono border-none;
  }

  .frame {
    .header {
      @apply [background:var(--muted)] px-2 py-1.5 border-b-2 border-b-border sticky top-0;

      &::before {
        @apply hidden;
      }

      .title {
        @apply p-0 font-mono text-xs;
      }
      .title::after {
        @apply hidden; 
      }
    }
  }
}


.starlight-aside {
  @apply border-none pixel-border pixel-size-md;


  a {
    @apply font-bold underline-offset-4 hover:underline;
  }

  &.starlight-aside--note {
    @apply bg-primary pixel-color-primary-foreground;
    * {
      @apply text-primary-foreground;
    }
  }

  &.starlight-aside--caution {
    @apply bg-warning pixel-color-warning-foreground;
    * {
      @apply text-warning-foreground;
    }
  }

  &.starlight-aside--tip {
    @apply bg-info pixel-color-info-foreground;
    * {
      @apply text-info-foreground;
    }
  }
}

.mobile-preferences {
  .social-icons {
    @apply py-0;
  }
}


starlight-tabs {
  @apply mt-6;
}

starlight-tabs [role="tablist"] {
  @apply border-b-0 gap-2;

  .tab {
    @apply pixel-rounded hover:bg-accent hover:pixel-color-accent;
  }

  .tab [aria-selected="true"] {
    @apply bg-accent pixel-color-accent font-normal;
  } 
}


@utility step {
  counter-increment: step;

  &:before {
    @apply mr-2 inline-flex size-6 items-center justify-center pixel-size-lg pixel-rounded pixel-color-muted bg-muted text-center -indent-px font-mono text-sm font-medium md:absolute md:-mt-1 md:-ml-12.5 md:size-7;
    content: counter(step);
  }
}
