
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

html {
  @apply overscroll-none;
}

body {
  @apply bg-background;
}

.content-panel,
.right-sidebar {
  @apply border-none;
}

.sidebar-pane {
  .top-level {
    li {
      @apply mx-0 my-3 md:my-0 border-s-0;
      & > a {
        @apply py-[4.2px];
      }

      a[aria-current="page"],
      a:hover {
        @apply border-none shadow-none pixel-border bg-muted pixel-color-muted text-foreground;
      }

      a span,
      .group-label span {
        @apply font-normal text-2xl md:text-xs;
      }

      a span {
        @apply text-foreground;
      }

      .group-label span {
        @apply text-xs text-muted-foreground;
      }

      summary svg {
        @apply hidden;
      }
    }

    details {
      @apply mt-2;
    }

  }
}

.right-sidebar-container {
  @apply hidden xl:flex xl:w-72;

  .right-sidebar {
   @apply xl:w-72;
  .right-sidebar-panel {
    #starlight__on-this-page {
      @apply h-6 mb-2 text-xs font-normal text-muted-foreground;
    }

    /* Hide "Overview" label on ToC */
    nav > ul > li:first-child {
      @apply hidden;
    }

    nav {
      @apply p-4 pt-0;

      ul {
        @apply flex flex-col gap-2;

        li {
          a {
            @apply text-xs p-0;
          }
          ul {
            @apply mt-2 pl-4;
          }
        }
      }
    }
  }
  }
}

[data-has-sidebar] {
  .main-frame {
    .main-pane {
      @apply w-full flex-1;

      .content-panel {
        @apply lg:px-0 lg:max-w-160 lg:mx-auto py-0;
        .sl-container {
          @apply mx-auto lg:mx-0;
        }
      }
    }
  }

  .main-frame > div {
    @apply w-full;
  }
}

.content-panel *:not(.not-content) :not(.not-content, .not-content *) {
  line-height: 1.75;
}

.content-panel *:not(.not-content) {

  p:not(.not-content, .not-content *) {
    @apply leading-[1.75];
  }

  hr:not(.not-content, .not-content *) {
    @apply mt-8;
  }

  .sl-heading-wrapper:not(.not-content, .not-content *) {
    &.level-h2 {
      @apply mt-8;
    }
  }

  :not(.not-content, .not-content *) {
    @apply text-sm;
  }

  code:not(.not-content, .not-content *) {
    @apply font-mono font-medium text-xs rounded-sm [--radius:.625rem];
    background-color: var(
      --color-muted,
      color-mix(in oklab, currentColor 8%, transparent)
    );
  }

  h1:not(.not-content, .not-content *) {
    @apply font-heading text-3xl italic leading-[1.3];
  }

  h2:not(.not-content, .not-content *) {
    @apply font-heading font-normal text-xl leading-[1.4];
  }

  h3:not(.not-content, .not-content *) {
    @apply font-sans font-semibold text-base text-foreground leading-[1.45];
  }

  h4:not(.not-content, .not-content *) {
    @apply font-sans font-semibold text-base text-foreground leading-normal;
  }

  h5:not(.not-content, .not-content *) {
    @apply font-sans font-semibold text-base text-foreground leading-normal;
  }

  h6:not(.not-content, .not-content *) {
    @apply font-sans font-semibold text-base text-foreground leading-normal;
  }

  table:not(.not-content, .not-content *) {
    @apply table w-full leading-normal;

    code {
      @apply leading-loose;
    }
  }

  .expressive-code:not(.not-content, .not-content *) {
    @apply pixel-size-lg pixel-color-border pixel-rounded;
  }
}

.expressive-code {
  --ec-codeBg: var(--muted);
  --ec-frm-edBg: var(--muted);

  pre {
    @apply scrollbar-none font-mono border-none;
  }

  .frame {
    .header {
      @apply [background:var(--muted)] px-2 py-1.5 border-b-2 border-b-border sticky top-0;

      &::before {
        @apply hidden;
      }

      .title {
        @apply p-0 font-mono text-xs bg-transparent;
      }
      .title::after {
        @apply hidden;
      }
    }
  }
}

[data-slot=code-preview-content] {
  .expressive-code code {
    @apply pt-3.5 pb-0;
  }

  .ec-line .code {
    @apply [border-inline-start:none] ps-0;
  }

  .ec-line .gutter .ln {
    @apply w-10 p-0 mr-6;
  }
}

.mobile-preferences,
#starlight__on-this-page--mobile {
  @apply hidden;
}

starlight-tabs {
  @apply mt-6;
}

starlight-tabs [role="tablist"] {
  @apply border-b-0 gap-2;

  .tab {
    @apply pixel-rounded hover:bg-accent hover:pixel-color-accent;
  }

  .tab [aria-selected="true"] {
    @apply bg-accent pixel-color-accent font-normal shadow-none;
  }
}

@utility step {
  counter-increment: step;

  &:before {
    @apply mr-2 inline-flex size-6 leading-6 items-center justify-center pixel-size-lg pixel-rounded pixel-color-muted bg-muted text-muted-foreground text-center -indent-px font-mono text-sm font-bold md:absolute md:-mt-1 md:-ml-12.5 md:size-7;
    content: counter(step);
  }
}

.ec-line.highlight {
  &.del {
    @apply bg-danger;
    .code {
      @apply border-s-danger-foreground before:text-danger-foreground before:content-(--tmLabel,'_');
    }
  }
  &.ins {
    @apply bg-success;
    .code {
      @apply border-s-success-foreground before:text-success-foreground before:content-(--tmLabel,'_');
    }
  }
}

/** Search Dialog **/
dialog {
  @apply rounded-none border-0 pixel-rounded pixel-size-lg;

  .pagefind-ui__search-input {
    @apply rounded-none border-0 pixel-border pixel-size-md pixel-color-border;
  }
}
