@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

.font-bytesized {
  --font-size-adjust: 0.36;

  font-family: 'Bytesized', monospace;
  font-size-adjust: var(--font-size-adjust);
}