@import 'tailwindcss';
@import "@/components/fonts/pxl/cairopixel.css";

.font-cairopixel {
  --font-size-adjust: 0.6;

  font-family: 'Cairopixel', sans-serif;
  font-size-adjust: var(--font-size-adjust);
}