@import 'tailwindcss';
@import "@/components/fonts/pxl/departure-mono.css";

.font-departure-mono {
  --font-size-adjust: 0.6;

  font-family: 'Departure Mono', sans-serif;
  font-size-adjust: var(--font-size-adjust);
}