@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.font-dotgothic16 {
  --font-size-adjust: 0.5;

  font-family: 'DotGothic16', serif;
  font-size-adjust: var(--font-size-adjust);
}