@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel:ELSH@0..100&display=swap');

@import 'tailwindcss';

@theme {
  --font-geist-pixel: 'Geist Pixel', 'Inter Variable', sans-serif;
}

.elsh-0 {
  font-variation-settings: "ELSH" 0;
}

.elsh-20 {
  font-variation-settings: "ELSH" 20;
}

.elsh-40 {
  font-variation-settings: "ELSH" 40;
}

.elsh-60 {
  font-variation-settings: "ELSH" 60;
}

.elsh-80 {
  font-variation-settings: "ELSH" 80;
}