@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');

.font-handjet {
  --font-size-adjust: 0.6;

  font-family: 'Handjet', sans-serif;
  font-size-adjust: var(--font-size-adjust);
}