@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');

.font-jacquarda-bastarda-9 {
  --font-size-adjust: 0.54;
  
  font-family: 'Jacquarda Bastarda 9', serif;
  font-size-adjust: var(--font-size-adjust);
}