@import 'tailwindcss';
@import "@/components/fonts/pxl/able-5.css";

.font-monogram {
  --font-size-adjust: 0.54;

  font-family: 'Monogram Extended', monospace;
  font-size-adjust: var(--font-size-adjust);
}