@import 'tailwindcss';
@import "@/components/fonts/pxl/northrup.css";

.font-northrup {
  --font-size-adjust: 0.6;

  font-family: 'Northrup Regular', sans-serif;
  font-size-adjust: var(--font-size-adjust);

  &.text-4xs,
  &.text-3xs,
  &.text-2xs {
    font-family: 'Northrup Tiny', sans-serif;
  }

  &.text-sm {
    font-family: 'Northrup Regular', sans-serif;
  }

  &.text-base {
    font-family: 'Northrup Extended', sans-serif;
  }

  &.text-lg,
  &.text-xl {
    font-family: 'Northrup Large', sans-serif;
  }

  &.text-2xl,
  &.text-3xl {
    font-family: 'Northrup Large Wide', sans-serif;
  }

  &.text-4xl,
  &.text-5xl,
  &.text-6xl,
  &.text-7xl,
  &.text-8xl,
  &.text-9xl {
    font-family: 'Northrup Mega', sans-serif;
  }
}

.font-northrup-serif {
  --font-size-adjust: 0.6;

  font-family: 'Northrup Serif', sans-serif;
  font-size-adjust: var(--font-size-adjust);

  &.text-lg,
  &.text-xl,
  &.text-2xl,
  &.text-3xl,
  &.text-4xl,
  &.text-5xl,
  &.text-6xl,
  &.text-7xl,
  &.text-8xl,
  &.text-9xl  {
    font-family: 'Northrup Large', sans-serif;
  }
}