@import 'tailwindcss';
@import "@/components/fonts/pxl/pixel-digivolve.css";

.font-pixel-digivolve {
  --font-size-adjust: 0.75;
  
  font-family: 'Pixel Digivolve', sans-serif;
  font-size-adjust: var(--font-size-adjust);
}