@import 'tailwindcss';
@import "@/components/fonts/pxl/vaticanus.css";

.font-vaticanus {
  --font-size-adjust: 0.6;

  font-family: 'Vaticanus', sans-serif;
  font-size-adjust: var(--font-size-adjust);
}