@theme {
  --color-catppuccin-macchiato-rosewater-50: oklch(95.798% 0.0133 28.866);
  --color-catppuccin-macchiato-rosewater-100: oklch(94.756% 0.0155 27.283);
  --color-catppuccin-macchiato-rosewater-200: oklch(93.959% 0.0183 34.297);
  --color-catppuccin-macchiato-rosewater-300: oklch(92.998% 0.0216 31.782);
  --color-catppuccin-macchiato-rosewater-400: oklch(92.038% 0.0249 29.933);
  --color-catppuccin-macchiato-rosewater-500: oklch(91.052% 0.0286 31.133);
  --color-catppuccin-macchiato-rosewater-600: oklch(87.94% 0.0275 28.965);
  --color-catppuccin-macchiato-rosewater-700: oklch(82.851% 0.0254 26.958);
  --color-catppuccin-macchiato-rosewater-800: oklch(77.338% 0.0236 27.861);
  --color-catppuccin-macchiato-rosewater-900: oklch(70.518% 0.0213 17.667);
  --color-catppuccin-macchiato-rosewater-950: oklch(62.282% 0.0171 12.672);
  --color-catppuccin-macchiato-flamingo-50: oklch(93.712% 0.0208 17.53);
  --color-catppuccin-macchiato-flamingo-100: oklch(92.231% 0.0254 17.621);
  --color-catppuccin-macchiato-flamingo-200: oklch(90.838% 0.0311 17.739);
  --color-catppuccin-macchiato-flamingo-300: oklch(89.36% 0.0359 17.843);
  --color-catppuccin-macchiato-flamingo-400: oklch(87.974% 0.0418 17.975);
  --color-catppuccin-macchiato-flamingo-500: oklch(86.288% 0.0479 18.12);
  --color-catppuccin-macchiato-flamingo-600: oklch(83.352% 0.046 16.422);
  --color-catppuccin-macchiato-flamingo-700: oklch(78.7% 0.0431 16.277);
  --color-catppuccin-macchiato-flamingo-800: oklch(73.271% 0.0392 13.97);
  --color-catppuccin-macchiato-flamingo-900: oklch(67.086% 0.0353 11.045);
  --color-catppuccin-macchiato-flamingo-950: oklch(59.31% 0.0304 6.756);
  --color-catppuccin-macchiato-pink-50: oklch(93.521% 0.036 335.737);
  --color-catppuccin-macchiato-pink-100: oklch(92.222% 0.0429 336.721);
  --color-catppuccin-macchiato-pink-200: oklch(90.774% 0.0524 335.97);
  --color-catppuccin-macchiato-pink-300: oklch(89.123% 0.0628 336.238);
  --color-catppuccin-macchiato-pink-400: oklch(87.7% 0.0725 335.85);
  --color-catppuccin-macchiato-pink-500: oklch(86.08% 0.083 336.18);
  --color-catppuccin-macchiato-pink-600: oklch(83.266% 0.0794 336.003);
  --color-catppuccin-macchiato-pink-700: oklch(78.457% 0.0753 335.198);
  --color-catppuccin-macchiato-pink-800: oklch(73.12% 0.0696 334.453);
  --color-catppuccin-macchiato-pink-900: oklch(66.845% 0.0657 333.393);
  --color-catppuccin-macchiato-pink-950: oklch(59.221% 0.0556 331.638);
  --color-catppuccin-macchiato-mauve-50: oklch(89.962% 0.0524 303.747);
  --color-catppuccin-macchiato-mauve-100: oklch(87.732% 0.064 303.297);
  --color-catppuccin-macchiato-mauve-200: oklch(85.318% 0.0774 303.37);
  --color-catppuccin-macchiato-mauve-300: oklch(82.727% 0.0925 303.718);
  --color-catppuccin-macchiato-mauve-400: oklch(80.152% 0.1077 303.877);
  --color-catppuccin-macchiato-mauve-500: oklch(77.152% 0.1259 303.898);
  --color-catppuccin-macchiato-mauve-600: oklch(74.592% 0.121 303.779);
  --color-catppuccin-macchiato-mauve-700: oklch(70.549% 0.1136 303.571);
  --color-catppuccin-macchiato-mauve-800: oklch(65.798% 0.1064 303.297);
  --color-catppuccin-macchiato-mauve-900: oklch(60.152% 0.0976 302.541);
  --color-catppuccin-macchiato-mauve-950: oklch(53.44% 0.0844 301.833);
  --color-catppuccin-macchiato-red-50: oklch(88.876% 0.0442 11.037);
  --color-catppuccin-macchiato-red-100: oklch(86.19% 0.0565 10.07);
  --color-catppuccin-macchiato-red-200: oklch(83.426% 0.0715 9.983);
  --color-catppuccin-macchiato-red-300: oklch(80.411% 0.0869 10.164);
  --color-catppuccin-macchiato-red-400: oklch(77.269% 0.104 10.693);
  --color-catppuccin-macchiato-red-500: oklch(73.7% 0.1252 11.194);
  --color-catppuccin-macchiato-red-600: oklch(71.221% 0.1201 10.672);
  --color-catppuccin-macchiato-red-700: oklch(67.371% 0.1118 10.42);
  --color-catppuccin-macchiato-red-800: oklch(62.881% 0.1039 8.597);
  --color-catppuccin-macchiato-red-900: oklch(57.694% 0.0934 6.816);
  --color-catppuccin-macchiato-red-950: oklch(51.322% 0.0793 3.555);
  --color-catppuccin-macchiato-maroon-50: oklch(89.986% 0.0393 13.998);
  --color-catppuccin-macchiato-maroon-100: oklch(87.688% 0.0489 13.398);
  --color-catppuccin-macchiato-maroon-200: oklch(85.196% 0.06 13.24);
  --color-catppuccin-macchiato-maroon-300: oklch(82.803% 0.0724 14.455);
  --color-catppuccin-macchiato-maroon-400: oklch(79.995% 0.0866 13.774);
  --color-catppuccin-macchiato-maroon-500: oklch(77.023% 0.1024 14.371);
  --color-catppuccin-macchiato-maroon-600: oklch(74.387% 0.0984 14.091);
  --color-catppuccin-macchiato-maroon-700: oklch(70.256% 0.0925 12.759);
  --color-catppuccin-macchiato-maroon-800: oklch(65.596% 0.0854 12.003);
  --color-catppuccin-macchiato-maroon-900: oklch(60.284% 0.0757 10.713);
  --color-catppuccin-macchiato-maroon-950: oklch(53.436% 0.0655 6.164);
  --color-catppuccin-macchiato-peach-50: oklch(91.125% 0.0405 45.06);
  --color-catppuccin-macchiato-peach-100: oklch(89.034% 0.0508 44.308);
  --color-catppuccin-macchiato-peach-200: oklch(86.941% 0.0619 44.862);
  --color-catppuccin-macchiato-peach-300: oklch(84.647% 0.0749 45.676);
  --color-catppuccin-macchiato-peach-400: oklch(82.353% 0.0893 47.605);
  --color-catppuccin-macchiato-peach-500: oklch(79.882% 0.1061 49.638);
  --color-catppuccin-macchiato-peach-600: oklch(77.314% 0.1014 49.789);
  --color-catppuccin-macchiato-peach-700: oklch(72.785% 0.0945 48.359);
  --color-catppuccin-macchiato-peach-800: oklch(67.956% 0.0852 47.407);
  --color-catppuccin-macchiato-peach-900: oklch(62.409% 0.0754 45.246);
  --color-catppuccin-macchiato-peach-950: oklch(55.198% 0.0623 40.815);
  --color-catppuccin-macchiato-yellow-50: oklch(94.4% 0.0307 81.754);
  --color-catppuccin-macchiato-yellow-100: oklch(93.038% 0.0369 80.621);
  --color-catppuccin-macchiato-yellow-200: oklch(91.852% 0.0449 82.599);
  --color-catppuccin-macchiato-yellow-300: oklch(90.537% 0.0538 81.77);
  --color-catppuccin-macchiato-yellow-400: oklch(89.321% 0.064 83.989);
  --color-catppuccin-macchiato-yellow-500: oklch(87.899% 0.0744 84.751);
  --color-catppuccin-macchiato-yellow-600: oklch(85.019% 0.0707 85.221);
  --color-catppuccin-macchiato-yellow-700: oklch(80.063% 0.0653 83.905);
  --color-catppuccin-macchiato-yellow-800: oklch(74.618% 0.0594 83.339);
  --color-catppuccin-macchiato-yellow-900: oklch(68.35% 0.0518 83.191);
  --color-catppuccin-macchiato-yellow-950: oklch(60.331% 0.0405 80.419);
  --color-catppuccin-macchiato-green-50: oklch(92.429% 0.0406 138.46);
  --color-catppuccin-macchiato-green-100: oklch(90.894% 0.0532 138.335);
  --color-catppuccin-macchiato-green-200: oklch(89.093% 0.0647 138.841);
  --color-catppuccin-macchiato-green-300: oklch(87.28% 0.0773 138.707);
  --color-catppuccin-macchiato-green-400: oklch(85.462% 0.091 138.236);
  --color-catppuccin-macchiato-green-500: oklch(83.498% 0.1079 138.15);
  --color-catppuccin-macchiato-green-600: oklch(80.675% 0.1026 138.151);
  --color-catppuccin-macchiato-green-700: oklch(76.277% 0.0965 138.515);
  --color-catppuccin-macchiato-green-800: oklch(70.982% 0.0866 139.662);
  --color-catppuccin-macchiato-green-900: oklch(64.999% 0.0759 140.577);
  --color-catppuccin-macchiato-green-950: oklch(57.399% 0.0605 142.433);
  --color-catppuccin-macchiato-teal-50: oklch(91.925% 0.0289 185.912);
  --color-catppuccin-macchiato-teal-100: oklch(90.112% 0.0375 183.992);
  --color-catppuccin-macchiato-teal-200: oklch(88.343% 0.0457 184.313);
  --color-catppuccin-macchiato-teal-300: oklch(86.286% 0.0537 184.428);
  --color-catppuccin-macchiato-teal-400: oklch(84.353% 0.0646 183.668);
  --color-catppuccin-macchiato-teal-500: oklch(82.136% 0.0755 184.1);
  --color-catppuccin-macchiato-teal-600: oklch(79.511% 0.0732 183.627);
  --color-catppuccin-macchiato-teal-700: oklch(74.886% 0.0678 184.912);
  --color-catppuccin-macchiato-teal-800: oklch(69.869% 0.0623 186.457);
  --color-catppuccin-macchiato-teal-900: oklch(63.834% 0.056 188.23);
  --color-catppuccin-macchiato-teal-950: oklch(56.512% 0.0466 192.145);
  --color-catppuccin-macchiato-sky-50: oklch(92.592% 0.0286 213.159);
  --color-catppuccin-macchiato-sky-100: oklch(90.936% 0.0359 211.931);
  --color-catppuccin-macchiato-sky-200: oklch(89.23% 0.044 210.796);
  --color-catppuccin-macchiato-sky-300: oklch(87.543% 0.052 210.037);
  --color-catppuccin-macchiato-sky-400: oklch(85.546% 0.061 210.565);
  --color-catppuccin-macchiato-sky-500: oklch(83.694% 0.0719 209.366);
  --color-catppuccin-macchiato-sky-600: oklch(80.825% 0.0687 210.138);
  --color-catppuccin-macchiato-sky-700: oklch(76.331% 0.0653 209.814);
  --color-catppuccin-macchiato-sky-800: oklch(71.278% 0.0605 211.225);
  --color-catppuccin-macchiato-sky-900: oklch(65.212% 0.0549 213.264);
  --color-catppuccin-macchiato-sky-950: oklch(57.68% 0.0479 214.63);
  --color-catppuccin-macchiato-sapphire-50: oklch(90.548% 0.0319 233.318);
  --color-catppuccin-macchiato-sapphire-100: oklch(88.338% 0.0404 231.851);
  --color-catppuccin-macchiato-sapphire-200: oklch(86.174% 0.0496 232.282);
  --color-catppuccin-macchiato-sapphire-300: oklch(83.869% 0.0595 230.499);
  --color-catppuccin-macchiato-sapphire-400: oklch(81.21% 0.0715 229.492);
  --color-catppuccin-macchiato-sapphire-500: oklch(78.508% 0.0845 228.378);
  --color-catppuccin-macchiato-sapphire-600: oklch(75.867% 0.0812 229.007);
  --color-catppuccin-macchiato-sapphire-700: oklch(71.633% 0.0766 229.271);
  --color-catppuccin-macchiato-sapphire-800: oklch(66.784% 0.072 230.981);
  --color-catppuccin-macchiato-sapphire-900: oklch(61.156% 0.065 231.445);
  --color-catppuccin-macchiato-sapphire-950: oklch(54.435% 0.0572 232.7);
  --color-catppuccin-macchiato-blue-50: oklch(89.211% 0.0446 268.697);
  --color-catppuccin-macchiato-blue-100: oklch(86.753% 0.054 267.848);
  --color-catppuccin-macchiato-blue-200: oklch(84.058% 0.0662 267.883);
  --color-catppuccin-macchiato-blue-300: oklch(81.232% 0.0794 266.39);
  --color-catppuccin-macchiato-blue-400: oklch(78.152% 0.0942 265.507);
  --color-catppuccin-macchiato-blue-500: oklch(74.973% 0.1101 263.81);
  --color-catppuccin-macchiato-blue-600: oklch(72.429% 0.1062 264.073);
  --color-catppuccin-macchiato-blue-700: oklch(68.484% 0.0999 263.849);
  --color-catppuccin-macchiato-blue-800: oklch(63.891% 0.0934 264.163);
  --color-catppuccin-macchiato-blue-900: oklch(58.563% 0.0851 264.901);
  --color-catppuccin-macchiato-blue-950: oklch(52.028% 0.0756 265.498);
  --color-catppuccin-macchiato-lavender-50: oklch(91.646% 0.0367 282.281);
  --color-catppuccin-macchiato-lavender-100: oklch(89.91% 0.0438 281.235);
  --color-catppuccin-macchiato-lavender-200: oklch(87.901% 0.0525 280.518);
  --color-catppuccin-macchiato-lavender-300: oklch(85.693% 0.0626 280.997);
  --color-catppuccin-macchiato-lavender-400: oklch(83.719% 0.0729 280.402);
  --color-catppuccin-macchiato-lavender-500: oklch(81.436% 0.0834 279.854);
  --color-catppuccin-macchiato-lavender-600: oklch(78.814% 0.0798 279.637);
  --color-catppuccin-macchiato-lavender-700: oklch(74.34% 0.0765 280.165);
  --color-catppuccin-macchiato-lavender-800: oklch(69.312% 0.0706 279.755);
  --color-catppuccin-macchiato-lavender-900: oklch(63.32% 0.0661 280.286);
  --color-catppuccin-macchiato-lavender-950: oklch(56.206% 0.0576 278.393);
  --color-catppuccin-macchiato-neutral-50: oklch(87.083% 0.0481 273.665);
  --color-catppuccin-macchiato-neutral-100: oklch(81.198% 0.0459 274.267);
  --color-catppuccin-macchiato-neutral-200: oklch(75.128% 0.0441 273.533);
  --color-catppuccin-macchiato-neutral-300: oklch(69.049% 0.0433 274.539);
  --color-catppuccin-macchiato-neutral-400: oklch(62.715% 0.0415 273.733);
  --color-catppuccin-macchiato-neutral-500: oklch(56.079% 0.0407 276.475);
  --color-catppuccin-macchiato-neutral-600: oklch(49.385% 0.0389 275.683);
  --color-catppuccin-macchiato-neutral-700: oklch(42.59% 0.0385 276.948);
  --color-catppuccin-macchiato-neutral-800: oklch(35.379% 0.0369 275.985);
  --color-catppuccin-macchiato-neutral-850: oklch(27.881% 0.0353 276.937);
  --color-catppuccin-macchiato-neutral-900: oklch(24.925% 0.0305 278.435);
  --color-catppuccin-macchiato-neutral-950: oklch(21.881% 0.0255 280.657);
}
