@theme {
  --color-catppuccin-latte-rosewater-50: oklch(85.317% 0.0365 22.138);
  --color-catppuccin-latte-rosewater-100: oklch(82.907% 0.0465 24.816);
  --color-catppuccin-latte-rosewater-200: oklch(80.305% 0.0581 26.475);
  --color-catppuccin-latte-rosewater-300: oklch(77.685% 0.0706 29.818);
  --color-catppuccin-latte-rosewater-400: oklch(74.726% 0.0858 31.017);
  --color-catppuccin-latte-rosewater-500: oklch(71.413% 0.1045 33.097);
  --color-catppuccin-latte-rosewater-600: oklch(68.868% 0.1015 32.864);
  --color-catppuccin-latte-rosewater-700: oklch(64.971% 0.0953 33.08);
  --color-catppuccin-latte-rosewater-800: oklch(60.235% 0.088 33.526);
  --color-catppuccin-latte-rosewater-900: oklch(54.758% 0.0804 33.147);
  --color-catppuccin-latte-rosewater-950: oklch(47.84% 0.0705 33.132);
  --color-catppuccin-latte-flamingo-50: oklch(84.366% 0.0424 12.509);
  --color-catppuccin-latte-flamingo-100: oklch(81.592% 0.0547 14.045);
  --color-catppuccin-latte-flamingo-200: oklch(78.929% 0.0685 16.435);
  --color-catppuccin-latte-flamingo-300: oklch(75.805% 0.0842 18.281);
  --color-catppuccin-latte-flamingo-400: oklch(72.398% 0.1029 19.125);
  --color-catppuccin-latte-flamingo-500: oklch(68.564% 0.1259 20.867);
  --color-catppuccin-latte-flamingo-600: oklch(66.166% 0.122 20.886);
  --color-catppuccin-latte-flamingo-700: oklch(62.26% 0.1137 20.84);
  --color-catppuccin-latte-flamingo-800: oklch(57.78% 0.1067 20.893);
  --color-catppuccin-latte-flamingo-900: oklch(52.461% 0.096 20.849);
  --color-catppuccin-latte-flamingo-950: oklch(45.831% 0.0841 20.864);
  --color-catppuccin-latte-pink-50: oklch(85.882% 0.0651 336.056);
  --color-catppuccin-latte-pink-100: oklch(83.494% 0.0819 336.417);
  --color-catppuccin-latte-pink-200: oklch(81.088% 0.1014 337.146);
  --color-catppuccin-latte-pink-300: oklch(78.459% 0.121 337.823);
  --color-catppuccin-latte-pink-400: oklch(75.624% 0.1471 338.085);
  --color-catppuccin-latte-pink-500: oklch(72.556% 0.1739 338.433);
  --color-catppuccin-latte-pink-600: oklch(69.975% 0.1684 338.16);
  --color-catppuccin-latte-pink-700: oklch(65.892% 0.1578 338.654);
  --color-catppuccin-latte-pink-800: oklch(61.165% 0.1455 338.479);
  --color-catppuccin-latte-pink-900: oklch(55.699% 0.1332 338.317);
  --color-catppuccin-latte-pink-950: oklch(48.544% 0.1158 338.619);
  --color-catppuccin-latte-mauve-50: oklch(80.665% 0.0864 295.683);
  --color-catppuccin-latte-mauve-100: oklch(76.783% 0.1089 296.443);
  --color-catppuccin-latte-mauve-200: oklch(72.546% 0.1358 296.582);
  --color-catppuccin-latte-mauve-300: oklch(67.845% 0.1656 297.159);
  --color-catppuccin-latte-mauve-400: oklch(62.318% 0.2034 297.116);
  --color-catppuccin-latte-mauve-500: oklch(55.467% 0.2503 297.016);
  --color-catppuccin-latte-mauve-600: oklch(53.595% 0.2416 297.2);
  --color-catppuccin-latte-mauve-700: oklch(50.356% 0.227 297.079);
  --color-catppuccin-latte-mauve-800: oklch(46.674% 0.211 297.065);
  --color-catppuccin-latte-mauve-900: oklch(42.534% 0.1914 297.33);
  --color-catppuccin-latte-mauve-950: oklch(37.138% 0.1674 297.176);
  --color-catppuccin-latte-red-50: oklch(80.556% 0.0565 8.621);
  --color-catppuccin-latte-red-100: oklch(76.874% 0.073 11.3);
  --color-catppuccin-latte-red-200: oklch(72.499% 0.0955 13.025);
  --color-catppuccin-latte-red-300: oklch(67.79% 0.1224 14.395);
  --color-catppuccin-latte-red-400: oklch(62.097% 0.16 16.434);
  --color-catppuccin-latte-red-500: oklch(55.047% 0.2155 19.809);
  --color-catppuccin-latte-red-600: oklch(53.084% 0.2077 19.774);
  --color-catppuccin-latte-red-700: oklch(50.082% 0.196 19.851);
  --color-catppuccin-latte-red-800: oklch(46.399% 0.1819 19.914);
  --color-catppuccin-latte-red-900: oklch(42.263% 0.1655 19.808);
  --color-catppuccin-latte-red-950: oklch(36.942% 0.1445 19.897);
  --color-catppuccin-latte-maroon-50: oklch(82.545% 0.0618 12.175);
  --color-catppuccin-latte-maroon-100: oklch(79.354% 0.0795 13.094);
  --color-catppuccin-latte-maroon-200: oklch(75.837% 0.1003 15.008);
  --color-catppuccin-latte-maroon-300: oklch(71.956% 0.1254 16.341);
  --color-catppuccin-latte-maroon-400: oklch(67.577% 0.1566 17.888);
  --color-catppuccin-latte-maroon-500: oklch(62.52% 0.1967 20.272);
  --color-catppuccin-latte-maroon-600: oklch(60.403% 0.1908 20.145);
  --color-catppuccin-latte-maroon-700: oklch(56.768% 0.1779 20.35);
  --color-catppuccin-latte-maroon-800: oklch(52.679% 0.1658 20.408);
  --color-catppuccin-latte-maroon-900: oklch(47.982% 0.1503 20.202);
  --color-catppuccin-latte-maroon-950: oklch(41.879% 0.1322 20.05);
  --color-catppuccin-latte-peach-50: oklch(84.653% 0.0695 27.428);
  --color-catppuccin-latte-peach-100: oklch(82.014% 0.088 29.498);
  --color-catppuccin-latte-peach-200: oklch(79.193% 0.1109 31.301);
  --color-catppuccin-latte-peach-300: oklch(76.199% 0.1351 34.103);
  --color-catppuccin-latte-peach-400: oklch(72.885% 0.1662 36.848);
  --color-catppuccin-latte-peach-500: oklch(69.198% 0.2041 42.429);
  --color-catppuccin-latte-peach-600: oklch(66.721% 0.1966 42.456);
  --color-catppuccin-latte-peach-700: oklch(62.898% 0.1858 42.368);
  --color-catppuccin-latte-peach-800: oklch(58.408% 0.1726 42.284);
  --color-catppuccin-latte-peach-900: oklch(53.04% 0.156 42.566);
  --color-catppuccin-latte-peach-950: oklch(46.273% 0.1364 42.529);
  --color-catppuccin-latte-yellow-50: oklch(85.406% 0.0437 53.44);
  --color-catppuccin-latte-yellow-100: oklch(82.986% 0.058 54.766);
  --color-catppuccin-latte-yellow-200: oklch(80.278% 0.0734 56.197);
  --color-catppuccin-latte-yellow-300: oklch(77.531% 0.0925 59.862);
  --color-catppuccin-latte-yellow-400: oklch(74.708% 0.1168 63.127);
  --color-catppuccin-latte-yellow-500: oklch(71.399% 0.1494 67.777);
  --color-catppuccin-latte-yellow-600: oklch(68.903% 0.1445 67.53);
  --color-catppuccin-latte-yellow-700: oklch(64.773% 0.1357 67.631);
  --color-catppuccin-latte-yellow-800: oklch(60.262% 0.1263 67.468);
  --color-catppuccin-latte-yellow-900: oklch(54.756% 0.1145 67.841);
  --color-catppuccin-latte-yellow-950: oklch(47.775% 0.1005 67.01);
  --color-catppuccin-latte-green-50: oklch(82.536% 0.0434 147.308);
  --color-catppuccin-latte-green-100: oklch(79.345% 0.057 145.809);
  --color-catppuccin-latte-green-200: oklch(75.731% 0.0738 144.208);
  --color-catppuccin-latte-green-300: oklch(71.809% 0.0974 143.213);
  --color-catppuccin-latte-green-400: oklch(67.398% 0.1283 141.749);
  --color-catppuccin-latte-green-500: oklch(62.504% 0.1772 140.445);
  --color-catppuccin-latte-green-600: oklch(60.492% 0.1712 140.455);
  --color-catppuccin-latte-green-700: oklch(56.692% 0.1603 140.516);
  --color-catppuccin-latte-green-800: oklch(52.818% 0.1499 140.458);
  --color-catppuccin-latte-green-900: oklch(47.975% 0.136 140.459);
  --color-catppuccin-latte-green-950: oklch(41.734% 0.1179 140.567);
  --color-catppuccin-latte-teal-50: oklch(81.878% 0.0279 211.072);
  --color-catppuccin-latte-teal-100: oklch(78.578% 0.0352 208.01);
  --color-catppuccin-latte-teal-200: oklch(74.829% 0.0444 205.503);
  --color-catppuccin-latte-teal-300: oklch(70.575% 0.0573 204.699);
  --color-catppuccin-latte-teal-400: oklch(65.758% 0.0735 202.479);
  --color-catppuccin-latte-teal-500: oklch(60.227% 0.0981 201.105);
  --color-catppuccin-latte-teal-600: oklch(58.117% 0.0948 201.381);
  --color-catppuccin-latte-teal-700: oklch(54.737% 0.0891 200.895);
  --color-catppuccin-latte-teal-800: oklch(50.714% 0.0826 201.502);
  --color-catppuccin-latte-teal-900: oklch(46.251% 0.0752 201.078);
  --color-catppuccin-latte-teal-950: oklch(40.341% 0.0659 200.728);
  --color-catppuccin-latte-sky-50: oklch(84.376% 0.0532 245.836);
  --color-catppuccin-latte-sky-100: oklch(81.578% 0.0671 245.254);
  --color-catppuccin-latte-sky-200: oklch(78.611% 0.0818 242.921);
  --color-catppuccin-latte-sky-300: oklch(75.575% 0.0979 240.543);
  --color-catppuccin-latte-sky-400: oklch(72.12% 0.1195 238.29);
  --color-catppuccin-latte-sky-500: oklch(68.202% 0.1448 235.382);
  --color-catppuccin-latte-sky-600: oklch(65.8% 0.1404 235.771);
  --color-catppuccin-latte-sky-700: oklch(62.043% 0.1319 235.452);
  --color-catppuccin-latte-sky-800: oklch(57.578% 0.1216 234.921);
  --color-catppuccin-latte-sky-900: oklch(52.171% 0.111 235.532);
  --color-catppuccin-latte-sky-950: oklch(45.548% 0.0971 235.627);
  --color-catppuccin-latte-sapphire-50: oklch(83.107% 0.0338 223.484);
  --color-catppuccin-latte-sapphire-100: oklch(80.079% 0.0435 221.218);
  --color-catppuccin-latte-sapphire-200: oklch(76.977% 0.0534 218.07);
  --color-catppuccin-latte-sapphire-300: oklch(73.184% 0.0665 217.543);
  --color-catppuccin-latte-sapphire-400: oklch(69.405% 0.0837 214.939);
  --color-catppuccin-latte-sapphire-500: oklch(64.774% 0.1068 212.889);
  --color-catppuccin-latte-sapphire-600: oklch(62.663% 0.1033 212.794);
  --color-catppuccin-latte-sapphire-700: oklch(58.74% 0.0969 213.379);
  --color-catppuccin-latte-sapphire-800: oklch(54.692% 0.0903 213.06);
  --color-catppuccin-latte-sapphire-900: oklch(49.639% 0.0819 213.138);
  --color-catppuccin-latte-sapphire-950: oklch(43.431% 0.0714 212.448);
  --color-catppuccin-latte-blue-50: oklch(80.877% 0.0804 275.073);
  --color-catppuccin-latte-blue-100: oklch(77.073% 0.1006 273.786);
  --color-catppuccin-latte-blue-200: oklch(72.773% 0.1243 272.783);
  --color-catppuccin-latte-blue-300: oklch(68.164% 0.1504 270.974);
  --color-catppuccin-latte-blue-400: oklch(62.64% 0.1828 267.58);
  --color-catppuccin-latte-blue-500: oklch(55.862% 0.2255 262.087);
  --color-catppuccin-latte-blue-600: oklch(53.939% 0.2179 262.085);
  --color-catppuccin-latte-blue-700: oklch(50.796% 0.2051 262.08);
  --color-catppuccin-latte-blue-800: oklch(47.144% 0.1894 262.069);
  --color-catppuccin-latte-blue-900: oklch(42.812% 0.1733 262.214);
  --color-catppuccin-latte-blue-950: oklch(37.372% 0.1514 262.228);
  --color-catppuccin-latte-lavender-50: oklch(83.57% 0.0732 278.701);
  --color-catppuccin-latte-lavender-100: oklch(80.757% 0.0896 277.892);
  --color-catppuccin-latte-lavender-200: oklch(77.695% 0.1078 277.17);
  --color-catppuccin-latte-lavender-300: oklch(74.347% 0.1263 276.399);
  --color-catppuccin-latte-lavender-400: oklch(70.503% 0.1497 275.156);
  --color-catppuccin-latte-lavender-500: oklch(66.376% 0.1751 273.135);
  --color-catppuccin-latte-lavender-600: oklch(64.224% 0.1691 273.185);
  --color-catppuccin-latte-lavender-700: oklch(60.314% 0.1594 273.374);
  --color-catppuccin-latte-lavender-800: oklch(55.881% 0.1486 273.117);
  --color-catppuccin-latte-lavender-900: oklch(50.888% 0.1333 273.156);
  --color-catppuccin-latte-lavender-950: oklch(44.378% 0.1182 272.978);
  --color-catppuccin-latte-neutral-50: oklch(90.596% 0.0117 264.507);
  --color-catppuccin-latte-neutral-100: oklch(93.346% 0.0087 264.521);
  --color-catppuccin-latte-neutral-200: oklch(95.776% 0.0058 264.532);
  --color-catppuccin-latte-neutral-300: oklch(85.748% 0.0145 268.476);
  --color-catppuccin-latte-neutral-400: oklch(80.831% 0.0174 271.198);
  --color-catppuccin-latte-neutral-500: oklch(75.839% 0.0205 273.154);
  --color-catppuccin-latte-neutral-600: oklch(70.767% 0.0237 274.601);
  --color-catppuccin-latte-neutral-700: oklch(65.355% 0.0269 278.121);
  --color-catppuccin-latte-neutral-800: oklch(60.088% 0.0305 278.694);
  --color-catppuccin-latte-neutral-850: oklch(54.708% 0.0343 279.084);
  --color-catppuccin-latte-neutral-900: oklch(49.2% 0.0385 279.299);
  --color-catppuccin-latte-neutral-950: oklch(43.547% 0.043 279.325);
}
