@theme {
  --color-catppuccin-frappe-rosewater-50: oklch(95.057% 0.0155 27.283);
  --color-catppuccin-frappe-rosewater-100: oklch(93.987% 0.018 30.269);
  --color-catppuccin-frappe-rosewater-200: oklch(92.998% 0.0216 31.782);
  --color-catppuccin-frappe-rosewater-300: oklch(91.819% 0.0261 29.423);
  --color-catppuccin-frappe-rosewater-400: oklch(90.721% 0.029 33.678);
  --color-catppuccin-frappe-rosewater-500: oklch(89.545% 0.0335 31.6);
  --color-catppuccin-frappe-rosewater-600: oklch(86.613% 0.0316 32.569);
  --color-catppuccin-frappe-rosewater-700: oklch(81.842% 0.0292 28.558);
  --color-catppuccin-frappe-rosewater-800: oklch(76.339% 0.0271 26.607);
  --color-catppuccin-frappe-rosewater-900: oklch(70.024% 0.0238 21.164);
  --color-catppuccin-frappe-rosewater-950: oklch(62.166% 0.0197 9.087);
  --color-catppuccin-frappe-flamingo-50: oklch(92.972% 0.0231 17.575);
  --color-catppuccin-frappe-flamingo-100: oklch(91.273% 0.0288 17.692);
  --color-catppuccin-frappe-flamingo-200: oklch(89.577% 0.0347 17.818);
  --color-catppuccin-frappe-flamingo-300: oklch(87.974% 0.0418 17.975);
  --color-catppuccin-frappe-flamingo-400: oklch(86.288% 0.0479 18.12);
  --color-catppuccin-frappe-flamingo-500: oklch(84.394% 0.0553 18.307);
  --color-catppuccin-frappe-flamingo-600: oklch(81.725% 0.0534 18.304);
  --color-catppuccin-frappe-flamingo-700: oklch(77.294% 0.0494 16.675);
  --color-catppuccin-frappe-flamingo-800: oklch(72.158% 0.0455 14.714);
  --color-catppuccin-frappe-flamingo-900: oklch(66.203% 0.0405 10.05);
  --color-catppuccin-frappe-flamingo-950: oklch(59.001% 0.0348 3.283);
  --color-catppuccin-frappe-pink-50: oklch(93.116% 0.0386 336.472);
  --color-catppuccin-frappe-pink-100: oklch(91.546% 0.0464 335.997);
  --color-catppuccin-frappe-pink-200: oklch(90.102% 0.0559 335.429);
  --color-catppuccin-frappe-pink-300: oklch(88.455% 0.0664 335.786);
  --color-catppuccin-frappe-pink-400: oklch(86.824% 0.0769 336.113);
  --color-catppuccin-frappe-pink-500: oklch(85.037% 0.0892 336.263);
  --color-catppuccin-frappe-pink-600: oklch(82.213% 0.0857 336.1);
  --color-catppuccin-frappe-pink-700: oklch(77.702% 0.0816 335.35);
  --color-catppuccin-frappe-pink-800: oklch(72.568% 0.075 333.978);
  --color-catppuccin-frappe-pink-900: oklch(66.657% 0.0676 333.24);
  --color-catppuccin-frappe-pink-950: oklch(59.399% 0.0585 330.391);
  --color-catppuccin-frappe-mauve-50: oklch(89.861% 0.0431 311.454);
  --color-catppuccin-frappe-mauve-100: oklch(87.364% 0.0538 311.23);
  --color-catppuccin-frappe-mauve-200: oklch(84.987% 0.0662 311.409);
  --color-catppuccin-frappe-mauve-300: oklch(82.307% 0.0789 311.487);
  --color-catppuccin-frappe-mauve-400: oklch(79.49% 0.0945 311.332);
  --color-catppuccin-frappe-mauve-500: oklch(76.475% 0.1108 311.744);
  --color-catppuccin-frappe-mauve-600: oklch(73.953% 0.107 311.641);
  --color-catppuccin-frappe-mauve-700: oklch(70.17% 0.1001 311.009);
  --color-catppuccin-frappe-mauve-800: oklch(65.641% 0.0921 310.702);
  --color-catppuccin-frappe-mauve-900: oklch(60.412% 0.0854 309.81);
  --color-catppuccin-frappe-mauve-950: oklch(54.243% 0.0721 307.981);
  --color-catppuccin-frappe-red-50: oklch(88.092% 0.0429 16.206);
  --color-catppuccin-frappe-red-100: oklch(85.344% 0.0551 16.889);
  --color-catppuccin-frappe-red-200: oklch(82.419% 0.0689 17.53);
  --color-catppuccin-frappe-red-300: oklch(79.055% 0.0844 17.281);
  --color-catppuccin-frappe-red-400: oklch(75.657% 0.1028 18.24);
  --color-catppuccin-frappe-red-500: oklch(71.71% 0.1244 19.386);
  --color-catppuccin-frappe-red-600: oklch(69.523% 0.1191 19.268);
  --color-catppuccin-frappe-red-700: oklch(65.72% 0.1106 17.647);
  --color-catppuccin-frappe-red-800: oklch(61.711% 0.1009 16.387);
  --color-catppuccin-frappe-red-900: oklch(57.08% 0.0886 13.625);
  --color-catppuccin-frappe-red-950: oklch(51.43% 0.0739 9.376);
  --color-catppuccin-frappe-maroon-50: oklch(89.781% 0.037 15.786);
  --color-catppuccin-frappe-maroon-100: oklch(87.449% 0.0465 16.424);
  --color-catppuccin-frappe-maroon-200: oklch(84.948% 0.0576 15.664);
  --color-catppuccin-frappe-maroon-300: oklch(82.345% 0.0677 16.336);
  --color-catppuccin-frappe-maroon-400: oklch(79.461% 0.0818 17.145);
  --color-catppuccin-frappe-maroon-500: oklch(76.464% 0.0976 17.177);
  --color-catppuccin-frappe-maroon-600: oklch(74.136% 0.0934 17.016);
  --color-catppuccin-frappe-maroon-700: oklch(70.029% 0.0874 14.945);
  --color-catppuccin-frappe-maroon-800: oklch(65.574% 0.0788 14.247);
  --color-catppuccin-frappe-maroon-900: oklch(60.442% 0.0704 11.017);
  --color-catppuccin-frappe-maroon-950: oklch(54.139% 0.0582 7.209);
  --color-catppuccin-frappe-peach-50: oklch(90.048% 0.0405 41.028);
  --color-catppuccin-frappe-peach-100: oklch(87.93% 0.0515 42.437);
  --color-catppuccin-frappe-peach-200: oklch(85.529% 0.0627 43.319);
  --color-catppuccin-frappe-peach-300: oklch(82.926% 0.0759 44.393);
  --color-catppuccin-frappe-peach-400: oklch(80.23% 0.0926 45.82);
  --color-catppuccin-frappe-peach-500: oklch(77.272% 0.1106 47.726);
  --color-catppuccin-frappe-peach-600: oklch(74.812% 0.1065 46.895);
  --color-catppuccin-frappe-peach-700: oklch(70.825% 0.0967 46.937);
  --color-catppuccin-frappe-peach-800: oklch(66.299% 0.0869 45.094);
  --color-catppuccin-frappe-peach-900: oklch(61.064% 0.0765 41.711);
  --color-catppuccin-frappe-peach-950: oklch(54.613% 0.0605 35.87);
  --color-catppuccin-frappe-yellow-50: oklch(92.889% 0.0308 81.752);
  --color-catppuccin-frappe-yellow-100: oklch(91.279% 0.0387 80.018);
  --color-catppuccin-frappe-yellow-200: oklch(89.588% 0.0461 80.052);
  --color-catppuccin-frappe-yellow-300: oklch(88.14% 0.0569 81.87);
  --color-catppuccin-frappe-yellow-400: oklch(86.2% 0.0669 81.7);
  --color-catppuccin-frappe-yellow-500: oklch(84.432% 0.0795 83.472);
  --color-catppuccin-frappe-yellow-600: oklch(81.63% 0.0752 82.628);
  --color-catppuccin-frappe-yellow-700: oklch(77.16% 0.0694 82.043);
  --color-catppuccin-frappe-yellow-800: oklch(72.134% 0.0614 82.795);
  --color-catppuccin-frappe-yellow-900: oklch(66.275% 0.052 80.052);
  --color-catppuccin-frappe-yellow-950: oklch(59.031% 0.0383 78.432);
  --color-catppuccin-frappe-green-50: oklch(91.506% 0.0387 133.237);
  --color-catppuccin-frappe-green-100: oklch(89.752% 0.0496 134.068);
  --color-catppuccin-frappe-green-200: oklch(87.676% 0.0617 134.095);
  --color-catppuccin-frappe-green-300: oklch(85.608% 0.0739 134.16);
  --color-catppuccin-frappe-green-400: oklch(83.488% 0.0895 133.239);
  --color-catppuccin-frappe-green-500: oklch(81.237% 0.1071 133.392);
  --color-catppuccin-frappe-green-600: oklch(78.642% 0.1022 133.559);
  --color-catppuccin-frappe-green-700: oklch(74.253% 0.0938 134.17);
  --color-catppuccin-frappe-green-800: oklch(69.565% 0.0836 134.71);
  --color-catppuccin-frappe-green-900: oklch(63.855% 0.0709 136.411);
  --color-catppuccin-frappe-green-950: oklch(57.1% 0.0561 138.889);
  --color-catppuccin-frappe-teal-50: oklch(90.544% 0.027 185.122);
  --color-catppuccin-frappe-teal-100: oklch(88.272% 0.0334 184.811);
  --color-catppuccin-frappe-teal-200: oklch(85.935% 0.0408 184.783);
  --color-catppuccin-frappe-teal-300: oklch(83.699% 0.0512 183.757);
  --color-catppuccin-frappe-teal-400: oklch(80.935% 0.0607 185.432);
  --color-catppuccin-frappe-teal-500: oklch(78.298% 0.073 184.645);
  --color-catppuccin-frappe-teal-600: oklch(75.724% 0.0694 185.186);
  --color-catppuccin-frappe-teal-700: oklch(71.624% 0.0649 186.857);
  --color-catppuccin-frappe-teal-800: oklch(67.165% 0.0596 187.353);
  --color-catppuccin-frappe-teal-900: oklch(61.763% 0.053 191.004);
  --color-catppuccin-frappe-teal-950: oklch(55.342% 0.0446 195.938);
  --color-catppuccin-frappe-sky-50: oklch(92% 0.0233 213.623);
  --color-catppuccin-frappe-sky-100: oklch(90.368% 0.0293 210.041);
  --color-catppuccin-frappe-sky-200: oklch(88.498% 0.036 211.937);
  --color-catppuccin-frappe-sky-300: oklch(86.605% 0.0423 211.497);
  --color-catppuccin-frappe-sky-400: oklch(84.596% 0.0504 210.601);
  --color-catppuccin-frappe-sky-500: oklch(82.55% 0.0592 209.756);
  --color-catppuccin-frappe-sky-600: oklch(79.931% 0.0567 210.491);
  --color-catppuccin-frappe-sky-700: oklch(75.458% 0.0535 211.608);
  --color-catppuccin-frappe-sky-800: oklch(70.596% 0.0503 212.911);
  --color-catppuccin-frappe-sky-900: oklch(64.789% 0.0453 215.285);
  --color-catppuccin-frappe-sky-950: oklch(57.903% 0.0394 219.003);
  --color-catppuccin-frappe-sapphire-50: oklch(90.359% 0.027 230.375);
  --color-catppuccin-frappe-sapphire-100: oklch(88.206% 0.0346 230.267);
  --color-catppuccin-frappe-sapphire-200: oklch(85.75% 0.0423 230.279);
  --color-catppuccin-frappe-sapphire-300: oklch(83.271% 0.0515 231.022);
  --color-catppuccin-frappe-sapphire-400: oklch(80.652% 0.0615 229.554);
  --color-catppuccin-frappe-sapphire-500: oklch(77.955% 0.0727 227.88);
  --color-catppuccin-frappe-sapphire-600: oklch(75.575% 0.0699 228.195);
  --color-catppuccin-frappe-sapphire-700: oklch(71.378% 0.0659 229.506);
  --color-catppuccin-frappe-sapphire-800: oklch(66.796% 0.0618 231.05);
  --color-catppuccin-frappe-sapphire-900: oklch(61.49% 0.0562 232.298);
  --color-catppuccin-frappe-sapphire-950: oklch(55.109% 0.0497 234.684);
  --color-catppuccin-frappe-blue-50: oklch(88.984% 0.0414 270.446);
  --color-catppuccin-frappe-blue-100: oklch(86.518% 0.0507 269.232);
  --color-catppuccin-frappe-blue-200: oklch(83.778% 0.0615 268.686);
  --color-catppuccin-frappe-blue-300: oklch(80.735% 0.0758 268.013);
  --color-catppuccin-frappe-blue-400: oklch(77.661% 0.0889 267.216);
  --color-catppuccin-frappe-blue-500: oklch(74.201% 0.1044 265.663);
  --color-catppuccin-frappe-blue-600: oklch(71.906% 0.1007 265.495);
  --color-catppuccin-frappe-blue-700: oklch(68.066% 0.0954 266.201);
  --color-catppuccin-frappe-blue-800: oklch(63.729% 0.0891 266.122);
  --color-catppuccin-frappe-blue-900: oklch(58.736% 0.0807 267.184);
  --color-catppuccin-frappe-blue-950: oklch(52.828% 0.0712 267.387);
  --color-catppuccin-frappe-lavender-50: oklch(91.397% 0.0325 285.739);
  --color-catppuccin-frappe-lavender-100: oklch(89.656% 0.0396 284.001);
  --color-catppuccin-frappe-lavender-200: oklch(87.487% 0.0481 285.364);
  --color-catppuccin-frappe-lavender-300: oklch(85.467% 0.0568 284.028);
  --color-catppuccin-frappe-lavender-400: oklch(83.211% 0.0656 283.921);
  --color-catppuccin-frappe-lavender-500: oklch(80.99% 0.0759 283.74);
  --color-catppuccin-frappe-lavender-600: oklch(78.404% 0.0737 283.703);
  --color-catppuccin-frappe-lavender-700: oklch(74.125% 0.069 283.649);
  --color-catppuccin-frappe-lavender-800: oklch(69.38% 0.0644 282.546);
  --color-catppuccin-frappe-lavender-900: oklch(63.722% 0.0597 283.448);
  --color-catppuccin-frappe-lavender-950: oklch(57.003% 0.0523 281.969);
  --color-catppuccin-frappe-neutral-50: oklch(86.192% 0.0526 273.347);
  --color-catppuccin-frappe-neutral-100: oklch(80.844% 0.0507 272.678);
  --color-catppuccin-frappe-neutral-200: oklch(75.238% 0.0483 274.473);
  --color-catppuccin-frappe-neutral-300: oklch(69.697% 0.0464 273.777);
  --color-catppuccin-frappe-neutral-400: oklch(64.006% 0.043 272.614);
  --color-catppuccin-frappe-neutral-500: oklch(58.085% 0.0421 275.198);
  --color-catppuccin-frappe-neutral-600: oklch(52.112% 0.0386 273.999);
  --color-catppuccin-frappe-neutral-700: oklch(46.006% 0.0367 272.966);
  --color-catppuccin-frappe-neutral-800: oklch(39.492% 0.0342 275.9);
  --color-catppuccin-frappe-neutral-850: oklch(32.907% 0.0324 274.758);
  --color-catppuccin-frappe-neutral-900: oklch(29.734% 0.0294 276.214);
  --color-catppuccin-frappe-neutral-950: oklch(27.2% 0.0264 275.115);
}
