@import 'tailwindcss';

@theme {
  --color-dmg-01-accurate-50: oklch(67.674% 0.1182 111.419);
  --color-dmg-01-accurate-200: oklch(48.534% 0.1084 130.82);
  --color-dmg-01-accurate-700: oklch(34.244% 0.1035 142.308);
  --color-dmg-01-accurate-950: oklch(26.277% 0.0573 130.29);
  
  --color-dmg-01-red-50: oklch(87.541% 0.077 94.523);
  --color-dmg-01-red-200: oklch(72.125% 0.0789 95.362);
  --color-dmg-01-red-700: oklch(55.34% 0.0257 78.067);
  --color-dmg-01-red-950: oklch(33.674% 0.0266 104.745);

  --color-dmg-01-green-50: oklch(89.931% 0.1076 118.052);
  --color-dmg-01-green-200: oklch(77.897% 0.1559 118.343);
  --color-dmg-01-green-700: oklch(54.696% 0.1118 135.612);
  --color-dmg-01-green-950: oklch(35.935% 0.0573 157.558);

  --color-dmg-01-blue-50: oklch(94.1% 0.02 164.575);
  --color-dmg-01-blue-200: oklch(78.507% 0.0345 156.34);
  --color-dmg-01-blue-700: oklch(53.795% 0.0516 167.481);
  --color-dmg-01-blue-950: oklch(29.032% 0.029 195.67);
}
