@import 'tailwindcss';

@theme inline {
  --color-red-50: oklch(93.208% 0.0614 326.057);
  --color-red-100: oklch(85.779% 0.0798 7.178);
  --color-red-200: oklch(79.536% 0.1201 11.761);
  --color-red-400: oklch(72.829% 0.1677 22.114);
  --color-red-500: oklch(72.829% 0.1677 22.114);
  --color-red-600: oklch(65.023% 0.1697 21.788);
  --color-red-700: oklch(53.092% 0.159 27.18);
  --color-red-800: oklch(40.557% 0.1326 27.243);
  --color-red-950: oklch(30.968% 0.1173 22.898);
  --color-orange-50: oklch(87.773% 0.1118 78.456);
  --color-orange-100: oklch(80.818% 0.1088 45.879);
  --color-orange-200: oklch(70.858% 0.1001 45.946);
  --color-orange-400: oklch(59.909% 0.0908 45.278);
  --color-orange-500: oklch(59.909% 0.0908 45.278);
  --color-orange-600: oklch(55.191% 0.0804 42.159);
  --color-orange-700: oklch(49.245% 0.0795 35.814);
  --color-orange-800: oklch(42.682% 0.076 22.985);
  --color-orange-950: oklch(35.953% 0.0602 36.573);
  --color-amber-50: oklch(92.524% 0.1713 101.243);
  --color-amber-100: oklch(83.802% 0.1452 76.541);
  --color-amber-200: oklch(77.2% 0.1449 57.458);
  --color-amber-400: oklch(68.441% 0.1501 46.352);
  --color-amber-500: oklch(68.441% 0.1501 46.352);
  --color-amber-600: oklch(61.445% 0.1465 33.659);
  --color-amber-700: oklch(55.554% 0.138 26.335);
  --color-amber-800: oklch(46.749% 0.1268 20.967);
  --color-amber-950: oklch(37.133% 0.0857 24.082);
  --color-yellow-50: oklch(95.205% 0.1786 106.26);
  --color-yellow-100: oklch(85.824% 0.1519 99.892);
  --color-yellow-200: oklch(75.355% 0.1341 89.163);
  --color-yellow-400: oklch(66.004% 0.1198 78.116);
  --color-yellow-500: oklch(66.004% 0.1198 78.116);
  --color-yellow-600: oklch(55.681% 0.1093 66.397);
  --color-yellow-700: oklch(48.024% 0.1012 62.949);
  --color-yellow-800: oklch(41.896% 0.0992 54.15);
  --color-yellow-950: oklch(35.766% 0.0946 49.963);
  --color-lime-50: oklch(79.063% 0.176 122.996);
  --color-lime-100: oklch(66.705% 0.1503 126.171);
  --color-lime-200: oklch(56.766% 0.144 133.919);
  --color-lime-400: oklch(46.355% 0.134 137.183);
  --color-lime-500: oklch(46.355% 0.134 137.183);
  --color-lime-600: oklch(41.207% 0.1124 140.792);
  --color-lime-700: oklch(36.284% 0.0934 144.629);
  --color-lime-800: oklch(28.078% 0.0597 164.11);
  --color-lime-950: oklch(22.436% 0.0437 171.495);
  --color-green-50: oklch(82.528% 0.1083 150.391);
  --color-green-100: oklch(70.248% 0.1251 155.448);
  --color-green-200: oklch(57.563% 0.0921 154.243);
  --color-green-400: oklch(51.381% 0.0744 155.952);
  --color-green-500: oklch(51.381% 0.0744 155.952);
  --color-green-600: oklch(43.549% 0.0664 153.572);
  --color-green-700: oklch(40.91% 0.0417 154.469);
  --color-green-800: oklch(35.121% 0.024 166.426);
  --color-green-950: oklch(29.825% 0.0339 173.951);
  --color-emerald-50: oklch(96.211% 0.0336 160.46);
  --color-emerald-100: oklch(82.736% 0.0478 168.854);
  --color-emerald-200: oklch(76.097% 0.084 150.77);
  --color-emerald-400: oklch(71.322% 0.0626 149.943);
  --color-emerald-600: oklch(63.582% 0.0537 155.404);
  --color-emerald-700: oklch(55.276% 0.0461 159.788);
  --color-emerald-800: oklch(47.967% 0.0395 169.902);
  --color-emerald-950: oklch(38.791% 0.0366 185.178);
  --color-teal-50: oklch(81.404% 0.1396 192.45);
  --color-teal-100: oklch(71.946% 0.1333 177.12);
  --color-teal-200: oklch(63.066% 0.1176 176.298);
  --color-teal-400: oklch(54.595% 0.0956 186.344);
  --color-teal-500: oklch(54.595% 0.0956 186.344);
  --color-teal-600: oklch(47.866% 0.0815 197.041);
  --color-teal-700: oklch(40.156% 0.0722 218.207);
  --color-teal-800: oklch(34.459% 0.064 222.577);
  --color-teal-950: oklch(28.81% 0.0676 241.357);
  --color-cyan-50: oklch(84.043% 0.096 232.471);
  --color-cyan-100: oklch(69.919% 0.1232 223.394);
  --color-cyan-200: oklch(59.859% 0.0925 221.608);
  --color-cyan-400: oklch(50.187% 0.0924 221.498);
  --color-cyan-500: oklch(50.187% 0.0924 221.498);
  --color-cyan-600: oklch(47.449% 0.0854 223.143);
  --color-cyan-700: oklch(38.834% 0.0703 219.117);
  --color-cyan-800: oklch(32.112% 0.0673 234.132);
  --color-cyan-950: oklch(25.445% 0.0493 227.279);
  --color-sky-50: oklch(90.031% 0.1144 200.826);
  --color-sky-100: oklch(81.096% 0.1273 225.16);
  --color-sky-200: oklch(72.059% 0.1223 230.809);
  --color-sky-400: oklch(61.103% 0.1061 232.023);
  --color-sky-500: oklch(61.103% 0.1061 232.023);
  --color-sky-600: oklch(50.487% 0.0751 236.524);
  --color-sky-700: oklch(38.763% 0.0744 252.656);
  --color-sky-800: oklch(31.741% 0.0526 261.624);
  --color-sky-950: oklch(24.049% 0.0325 265.854);
  --color-blue-50: oklch(80.662% 0.1155 234.163);
  --color-blue-100: oklch(73.114% 0.1277 241.81);
  --color-blue-200: oklch(66.243% 0.1491 250.252);
  --color-blue-400: oklch(55.213% 0.1417 248.162);
  --color-blue-500: oklch(55.213% 0.1417 248.162);
  --color-blue-600: oklch(47.314% 0.131 251.52);
  --color-blue-700: oklch(39.432% 0.1059 249.666);
  --color-blue-800: oklch(31.341% 0.0942 253.423);
  --color-blue-950: oklch(22.809% 0.0786 256.232);
  --color-indigo-50: oklch(66.865% 0.0739 270.07);
  --color-indigo-100: oklch(61.727% 0.1036 269.196);
  --color-indigo-200: oklch(57.212% 0.1312 265.328);
  --color-indigo-400: oklch(52.566% 0.1174 270.406);
  --color-indigo-500: oklch(52.566% 0.1174 270.406);
  --color-indigo-600: oklch(44.023% 0.0876 267.312);
  --color-indigo-700: oklch(37.51% 0.0929 268.954);
  --color-indigo-800: oklch(33.379% 0.0755 270.796);
  --color-indigo-950: oklch(28.824% 0.0782 282.369);
  --color-violet-50: oklch(88.999% 0.0591 293.693);
  --color-violet-100: oklch(78.923% 0.1141 289.165);
  --color-violet-200: oklch(72.375% 0.1209 283.498);
  --color-violet-400: oklch(67.753% 0.1255 283.581);
  --color-violet-500: oklch(67.753% 0.1255 283.581);
  --color-violet-600: oklch(60.184% 0.1113 283.146);
  --color-violet-700: oklch(52.994% 0.0873 282.211);
  --color-violet-800: oklch(45.243% 0.0759 275.43);
  --color-violet-950: oklch(34.329% 0.0611 278.919);
  --color-purple-50: oklch(83.722% 0.0918 298.509);
  --color-purple-100: oklch(78.166% 0.1077 292.788);
  --color-purple-200: oklch(72.332% 0.1238 293.199);
  --color-purple-400: oklch(67.815% 0.1558 288.323);
  --color-purple-500: oklch(67.815% 0.1558 288.323);
  --color-purple-500-2: oklch(67.815% 0.1558 288.323);
  --color-purple-600: oklch(56.233% 0.1304 292.973);
  --color-purple-700: oklch(44.711% 0.086 294.834);
  --color-purple-800: oklch(33.98% 0.0565 299.197);
  --color-purple-950: oklch(23.245% 0.0076 285.791);
  --color-fuchsia-50: oklch(87.604% 0.0621 352.542);
  --color-fuchsia-100: oklch(75.838% 0.0926 344.065);
  --color-fuchsia-200: oklch(66.586% 0.1114 339.505);
  --color-fuchsia-400: oklch(62.908% 0.106 350.74);
  --color-fuchsia-500: oklch(62.908% 0.106 350.74);
  --color-fuchsia-600: oklch(53.449% 0.0979 350.019);
  --color-fuchsia-700: oklch(40.621% 0.084 338.066);
  --color-fuchsia-800: oklch(32.733% 0.0585 342.112);
  --color-fuchsia-950: oklch(22.952% 0.0595 338.735);
  --color-pink-50: oklch(90.689% 0.0857 326.256);
  --color-pink-100: oklch(82.138% 0.111 357.357);
  --color-pink-200: oklch(75.233% 0.1658 357.569);
  --color-pink-400: oklch(68.877% 0.1903 9.908);
  --color-pink-500: oklch(68.877% 0.1903 9.908);
  --color-pink-600: oklch(61.402% 0.1789 11.189);
  --color-pink-700: oklch(49.777% 0.1337 9.307);
  --color-pink-800: oklch(39.428% 0.0999 8.771);
  --color-pink-950: oklch(27.924% 0.0715 357.195);
  --color-rose-50: oklch(93.208% 0.0614 326.057);
  --color-rose-100: oklch(85.779% 0.0798 7.178);
  --color-rose-200: oklch(79.536% 0.1201 11.761);
  --color-rose-400: oklch(72.829% 0.1677 22.114);
  --color-rose-500: oklch(72.829% 0.1677 22.114);
  --color-rose-600: oklch(65.023% 0.1697 21.788);
  --color-rose-700: oklch(53.092% 0.159 27.18);
  --color-rose-800: oklch(40.557% 0.1326 27.243);
  --color-rose-950: oklch(30.968% 0.1173 22.898);
  --color-slate-50: oklch(92.202% 0.0473 229.546);
  --color-slate-100: oklch(87.816% 0.0591 269.354);
  --color-slate-200: oklch(75.63% 0.0643 256.715);
  --color-slate-400: oklch(65.74% 0.052 272.095);
  --color-slate-500: oklch(65.74% 0.052 272.095);
  --color-slate-600: oklch(58.442% 0.0517 288.731);
  --color-slate-700: oklch(50.216% 0.0585 286.565);
  --color-slate-800: oklch(39.682% 0.0612 270.132);
  --color-slate-950: oklch(30.204% 0.0559 278.28);
  --color-gray-50: oklch(97.547% 0.0045 258.325);
  --color-gray-100: oklch(86.227% 0.0123 259.824);
  --color-gray-200: oklch(74.824% 0.0195 258.361);
  --color-gray-400: oklch(63.371% 0.0222 257.497);
  --color-gray-500: oklch(63.371% 0.0222 257.497);
  --color-gray-600: oklch(51.523% 0.016 258.366);
  --color-gray-700: oklch(38.999% 0.0072 264.484);
  --color-gray-800: oklch(25.51% 0.0015 197.063);
  --color-gray-950: oklch(0% 0 0);
  --color-zinc-50: oklch(97.547% 0.0045 258.325);
  --color-zinc-100: oklch(86.227% 0.0123 259.824);
  --color-zinc-200: oklch(74.824% 0.0195 258.361);
  --color-zinc-400: oklch(63.371% 0.0222 257.497);
  --color-zinc-500: oklch(63.371% 0.0222 257.497);
  --color-zinc-600: oklch(51.523% 0.016 258.366);
  --color-zinc-700: oklch(38.999% 0.0072 264.484);
  --color-zinc-800: oklch(25.51% 0.0015 197.063);
  --color-zinc-950: oklch(0% 0 0);
  --color-neutral-50: oklch(97.547% 0.0045 258.325);
  --color-neutral-100: oklch(86.227% 0.0123 259.824);
  --color-neutral-200: oklch(74.824% 0.0195 258.361);
  --color-neutral-400: oklch(63.371% 0.0222 257.497);
  --color-neutral-500: oklch(63.371% 0.0222 257.497);
  --color-neutral-600: oklch(51.523% 0.016 258.366);
  --color-neutral-700: oklch(38.999% 0.0072 264.484);
  --color-neutral-800: oklch(25.51% 0.0015 197.063);
  --color-neutral-950: oklch(0% 0 0);
  --color-stone-50: oklch(96.61% 0.04 88.196);
  --color-stone-100: oklch(89.869% 0.0293 72.454);
  --color-stone-200: oklch(81.961% 0.0266 84.592);
  --color-stone-400: oklch(76.097% 0.0207 65.056);
  --color-stone-500: oklch(76.097% 0.0207 65.056);
  --color-stone-600: oklch(71.365% 0.0369 82.856);
  --color-stone-700: oklch(65.094% 0.0349 68.669);
  --color-stone-800: oklch(57.266% 0.0311 67.139);
  --color-stone-950: oklch(48.021% 0.0155 82.375);
  --color-taupe-50: oklch(82.117% 0.0601 72.661);
  --color-taupe-100: oklch(73.825% 0.0511 68.911);
  --color-taupe-200: oklch(64.411% 0.0465 76.039);
  --color-taupe-400: oklch(54.187% 0.0421 74.678);
  --color-taupe-500: oklch(54.187% 0.0421 74.678);
  --color-taupe-600: oklch(48.923% 0.0348 41.552);
  --color-taupe-700: oklch(41.998% 0.0331 18.561);
  --color-taupe-800: oklch(35.522% 0.032 357.064);
  --color-taupe-950: oklch(27.322% 0.0266 345.742);
  --color-mauve-50: oklch(93.161% 0.0409 55.35);
  --color-mauve-100: oklch(78.345% 0.0449 25.177);
  --color-mauve-200: oklch(67.924% 0.0524 4.285);
  --color-mauve-400: oklch(63.182% 0.0665 5.212);
  --color-mauve-600: oklch(54.456% 0.0651 6.084);
  --color-mauve-700: oklch(48.342% 0.0493 4.431);
  --color-mauve-800: oklch(41.068% 0.0424 358.845);
  --color-mauve-950: oklch(30.645% 0.0614 8.724);
  --color-mist-50: oklch(95.307% 0.0097 252.812);
  --color-mist-100: oklch(82.598% 0.0315 258.944);
  --color-mist-200: oklch(75.347% 0.0231 277.369);
  --color-mist-400: oklch(62.555% 0.0212 276.143);
  --color-mist-600: oklch(55.962% 0.0184 285.791);
  --color-mist-700: oklch(47.858% 0.0208 282.089);
  --color-mist-800: oklch(40.107% 0.01 293.597);
  --color-mist-950: oklch(31.124% 0.0106 253.992);
  --color-olive-50: oklch(82.299% 0.1636 107.961);
  --color-olive-100: oklch(72.522% 0.1356 104.467);
  --color-olive-200: oklch(66.211% 0.1329 111.536);
  --color-olive-400: oklch(58.539% 0.1197 113.565);
  --color-olive-500: oklch(58.539% 0.1197 113.565);
  --color-olive-600: oklch(52.235% 0.1212 120.075);
  --color-olive-700: oklch(44.544% 0.1092 122.926);
  --color-olive-800: oklch(38.807% 0.1016 131.943);
  --color-olive-950: oklch(26.278% 0.0634 121.478);
}
