@theme {
  --color-flexoki-paper: oklch(99.012% 0.0161 95.219);
  --color-flexoki-base-50: oklch(95.368% 0.0147 98.288);
  --color-flexoki-base-100: oklch(91.74% 0.0149 98.298);
  --color-flexoki-base-150: oklch(88.103% 0.0137 97.463);
  --color-flexoki-base-200: oklch(84.63% 0.0137 102.053);
  --color-flexoki-base-300: oklch(77.215% 0.0128 96.47);
  --color-flexoki-base-400: oklch(69.561% 0.0103 93.618);
  --color-flexoki-base-500: oklch(61.69% 0.0078 88.674);
  --color-flexoki-base-600: oklch(53.755% 0.0078 97.449);
  --color-flexoki-base-700: oklch(45.309% 0.005 91.503);
  --color-flexoki-base-800: oklch(36.513% 0.0044 67.689);
  --color-flexoki-base-850: oklch(32.139% 0.0038 84.578);
  --color-flexoki-base-900: oklch(27.342% 0.0023 67.727);
  --color-flexoki-base-950: oklch(22.285% 0.0025 67.699);
  --color-flexoki-black: oklch(16.962% 0.0017 17.321);
  --color-flexoki-red-50: oklch(93.12% 0.037 43.078);
  --color-flexoki-red-100: oklch(88.174% 0.0641 36.357);
  --color-flexoki-red-150: oklch(83.057% 0.0912 32.446);
  --color-flexoki-red-200: oklch(77.844% 0.116 30.328);
  --color-flexoki-red-300: oklch(68.34% 0.1523 29.791);
  --color-flexoki-red-400: oklch(59.705% 0.1692 28.379);
  --color-flexoki-red-500: oklch(54.999% 0.1678 27.879);
  --color-flexoki-red-600: oklch(50.424% 0.1648 27.839);
  --color-flexoki-red-700: oklch(44.676% 0.1448 27.778);
  --color-flexoki-red-800: oklch(36.334% 0.1089 26.954);
  --color-flexoki-red-850: oklch(31.324% 0.087 26.307);
  --color-flexoki-red-900: oklch(26.393% 0.0618 25.144);
  --color-flexoki-red-950: oklch(21.334% 0.0318 23.313);
  --color-flexoki-orange-50: oklch(94.095% 0.0422 68.423);
  --color-flexoki-orange-100: oklch(89.488% 0.0678 61.722);
  --color-flexoki-orange-150: oklch(85.342% 0.0915 59.682);
  --color-flexoki-orange-200: oklch(81.086% 0.1131 56.609);
  --color-flexoki-orange-300: oklch(72.822% 0.143 52.656);
  --color-flexoki-orange-400: oklch(65.757% 0.1539 49.3);
  --color-flexoki-orange-500: oklch(61.205% 0.1533 47.368);
  --color-flexoki-orange-600: oklch(56.651% 0.1523 45.02);
  --color-flexoki-orange-700: oklch(49.545% 0.1334 44.792);
  --color-flexoki-orange-800: oklch(39.713% 0.1006 46.502);
  --color-flexoki-orange-850: oklch(34.185% 0.0807 47.519);
  --color-flexoki-orange-900: oklch(28.321% 0.0577 49.406);
  --color-flexoki-orange-950: oklch(22.575% 0.0302 54.27);
  --color-flexoki-yellow-50: oklch(94.858% 0.0535 93.289);
  --color-flexoki-yellow-100: oklch(91.386% 0.0866 93.228);
  --color-flexoki-yellow-150: oklch(88.009% 0.1122 92.853);
  --color-flexoki-yellow-200: oklch(84.975% 0.131 92.278);
  --color-flexoki-yellow-300: oklch(78.724% 0.147 89.373);
  --color-flexoki-yellow-400: oklch(73.458% 0.1462 87.459);
  --color-flexoki-yellow-500: oklch(68.277% 0.1383 86.785);
  --color-flexoki-yellow-600: oklch(63.334% 0.1295 85.811);
  --color-flexoki-yellow-700: oklch(54.795% 0.1119 85.819);
  --color-flexoki-yellow-800: oklch(43.469% 0.0884 86.92);
  --color-flexoki-yellow-850: oklch(37.048% 0.0744 88.38);
  --color-flexoki-yellow-900: oklch(30.355% 0.0583 90.145);
  --color-flexoki-yellow-950: oklch(23.621% 0.0369 94.233);
  --color-flexoki-green-50: oklch(94.029% 0.0408 108.669);
  --color-flexoki-green-100: oklch(89.693% 0.0633 112.51);
  --color-flexoki-green-150: oklch(85.188% 0.0818 114.136);
  --color-flexoki-green-200: oklch(81.002% 0.0985 115.451);
  --color-flexoki-green-300: oklch(72.266% 0.1178 117.198);
  --color-flexoki-green-400: oklch(65.132% 0.1242 119.384);
  --color-flexoki-green-500: oklch(60.488% 0.1321 121.209);
  --color-flexoki-green-600: oklch(55.932% 0.1335 122.924);
  --color-flexoki-green-700: oklch(48.543% 0.1161 123.028);
  --color-flexoki-green-800: oklch(38.981% 0.09 122.072);
  --color-flexoki-green-850: oklch(33.756% 0.0757 121.854);
  --color-flexoki-green-900: oklch(28.056% 0.0564 120.896);
  --color-flexoki-green-950: oklch(22.533% 0.0324 119.344);
  --color-flexoki-cyan-50: oklch(93.979% 0.0273 157.362);
  --color-flexoki-cyan-100: oklch(89.768% 0.0473 170.998);
  --color-flexoki-cyan-150: oklch(85.521% 0.0652 176.357);
  --color-flexoki-cyan-200: oklch(81.269% 0.0791 179.387);
  --color-flexoki-cyan-300: oklch(73.403% 0.0968 180.726);
  --color-flexoki-cyan-400: oklch(67.012% 0.0999 186.578);
  --color-flexoki-cyan-500: oklch(61.29% 0.0932 186.659);
  --color-flexoki-cyan-600: oklch(55.441% 0.0863 186.744);
  --color-flexoki-cyan-700: oklch(48.312% 0.075 187.623);
  --color-flexoki-cyan-800: oklch(38.982% 0.0584 186.747);
  --color-flexoki-cyan-850: oklch(33.709% 0.0472 188.778);
  --color-flexoki-cyan-900: oklch(28.18% 0.0354 186.449);
  --color-flexoki-cyan-950: oklch(22.498% 0.021 185.21);
  --color-flexoki-blue-50: oklch(93.453% 0.0118 190.434);
  --color-flexoki-blue-100: oklch(88.387% 0.0289 228.09);
  --color-flexoki-blue-150: oklch(83.459% 0.0466 231.037);
  --color-flexoki-blue-200: oklch(78.227% 0.0622 235.926);
  --color-flexoki-blue-300: oklch(68.148% 0.0849 239.802);
  --color-flexoki-blue-400: oklch(59.884% 0.1104 246.996);
  --color-flexoki-blue-500: oklch(53.897% 0.1212 251.395);
  --color-flexoki-blue-600: oklch(48.178% 0.1315 254.789);
  --color-flexoki-blue-700: oklch(42.689% 0.1152 254.584);
  --color-flexoki-blue-800: oklch(34.986% 0.0862 254.227);
  --color-flexoki-blue-850: oklch(30.556% 0.0693 253.498);
  --color-flexoki-blue-900: oklch(26.037% 0.0486 253.24);
  --color-flexoki-blue-950: oklch(21.322% 0.0247 249.049);
  --color-flexoki-purple-50: oklch(94.228% 0.007 354.801);
  --color-flexoki-purple-100: oklch(89.717% 0.0236 310.691);
  --color-flexoki-purple-150: oklch(85.493% 0.0395 300.217);
  --color-flexoki-purple-200: oklch(80.75% 0.0555 298.055);
  --color-flexoki-purple-300: oklch(71.387% 0.0802 295.136);
  --color-flexoki-purple-400: oklch(63.484% 0.1098 290.996);
  --color-flexoki-purple-500: oklch(54.285% 0.1326 292.539);
  --color-flexoki-purple-600: oklch(45.404% 0.1451 294.828);
  --color-flexoki-purple-700: oklch(40.411% 0.1271 294.634);
  --color-flexoki-purple-800: oklch(33.64% 0.0955 295.654);
  --color-flexoki-purple-850: oklch(29.597% 0.0764 296.457);
  --color-flexoki-purple-900: oklch(25.377% 0.0544 298.34);
  --color-flexoki-purple-950: oklch(21.13% 0.0259 298.28);
  --color-flexoki-magenta-50: oklch(94.024% 0.0286 15.014);
  --color-flexoki-magenta-100: oklch(89.62% 0.0525 1.83);
  --color-flexoki-magenta-150: oklch(85.048% 0.0787 356.49);
  --color-flexoki-magenta-200: oklch(80.508% 0.1012 355.47);
  --color-flexoki-magenta-300: oklch(71.551% 0.1356 354.63);
  --color-flexoki-magenta-400: oklch(63.481% 0.1565 350.475);
  --color-flexoki-magenta-500: oklch(56.366% 0.1612 349.805);
  --color-flexoki-magenta-600: oklch(49.54% 0.1614 349.757);
  --color-flexoki-magenta-700: oklch(43.986% 0.1407 349.417);
  --color-flexoki-magenta-800: oklch(36.006% 0.1089 349.028);
  --color-flexoki-magenta-850: oklch(31.296% 0.087 347.6);
  --color-flexoki-magenta-900: oklch(26.291% 0.0611 345.808);
  --color-flexoki-magenta-950: oklch(21.448% 0.0328 344.07);
}
