@theme {
  --color-nestopia-blue-50: oklch(88.749% 0.0576 248.476);
  --color-nestopia-blue-400: oklch(73.48% 0.1409 252.415);
  --color-nestopia-blue-600: oklch(52.644% 0.1906 259.777);
  --color-nestopia-blue-950: oklch(33.818% 0.1682 262.864);
  --color-nestopia-indigo-50: oklch(88.921% 0.0561 285.202);
  --color-nestopia-indigo-400: oklch(71.272% 0.1538 281.777);
  --color-nestopia-indigo-600: oklch(52.241% 0.2672 272.248);
  --color-nestopia-indigo-950: oklch(34.076% 0.2161 266.889);
  --color-nestopia-purple-50: oklch(87.02% 0.086 310.322);
  --color-nestopia-purple-400: oklch(70.312% 0.2075 309.078);
  --color-nestopia-purple-600: oklch(53.395% 0.278 288.371);
  --color-nestopia-purple-950: oklch(35.862% 0.2126 282.847);
  --color-nestopia-fuchsia-50: oklch(88.542% 0.0945 321.71);
  --color-nestopia-fuchsia-400: oklch(74.18% 0.2363 323.221);
  --color-nestopia-fuchsia-600: oklch(52.979% 0.2496 313.221);
  --color-nestopia-fuchsia-950: oklch(35.454% 0.1767 312.73);
  --color-nestopia-pink-50: oklch(88.456% 0.0781 343.689);
  --color-nestopia-pink-400: oklch(74.023% 0.2087 342.517);
  --color-nestopia-pink-600: oklch(52.416% 0.1976 349.379);
  --color-nestopia-pink-950: oklch(34.692% 0.144 351.5);
  --color-nestopia-red-50: oklch(89.156% 0.0572 30.287);
  --color-nestopia-red-400: oklch(74.781% 0.1527 29.312);
  --color-nestopia-red-600: oklch(51.5% 0.1713 30.544);
  --color-nestopia-red-950: oklch(33.634% 0.1314 30.904);
  --color-nestopia-amber-50: oklch(89.215% 0.0734 77.396);
  --color-nestopia-amber-400: oklch(74.795% 0.151 73.168);
  --color-nestopia-amber-600: oklch(50.418% 0.1299 51.849);
  --color-nestopia-amber-950: oklch(31.442% 0.0845 48.893);
  --color-nestopia-yellow-50: oklch(90.658% 0.1035 108.297);
  --color-nestopia-yellow-400: oklch(77.281% 0.1685 109.769);
  --color-nestopia-yellow-600: oklch(51.09% 0.1114 109.769);
  --color-nestopia-yellow-950: oklch(30.314% 0.0661 109.769);
  --color-nestopia-lime-50: oklch(90.762% 0.1215 124.994);
  --color-nestopia-lime-400: oklch(79.649% 0.2152 130.256);
  --color-nestopia-lime-600: oklch(54.411% 0.1646 136.916);
  --color-nestopia-lime-950: oklch(35.615% 0.1183 141.444);
  --color-nestopia-green-50: oklch(91.849% 0.1144 138.996);
  --color-nestopia-green-400: oklch(81.638% 0.2429 139.925);
  --color-nestopia-green-600: oklch(57.887% 0.1946 141.978);
  --color-nestopia-green-950: oklch(38.002% 0.1293 142.495);
  --color-nestopia-emerald-50: oklch(92.103% 0.0867 156.967);
  --color-nestopia-emerald-400: oklch(79.916% 0.1812 153.359);
  --color-nestopia-emerald-600: oklch(55.76% 0.1657 146.994);
  --color-nestopia-emerald-950: oklch(38.053% 0.1251 143.556);
  --color-nestopia-teal-50: oklch(91.281% 0.0586 196.172);
  --color-nestopia-teal-400: oklch(78.649% 0.1145 206.586);
  --color-nestopia-teal-600: oklch(53.477% 0.093 211.493);
  --color-nestopia-teal-950: oklch(34.685% 0.0597 208.365);
  --color-nestopia-white: oklch(100% 0 0);
  --color-nestopia-neutral-50: oklch(77.31% 0 0);
  --color-nestopia-neutral-400: oklch(74.763% 0 0);
  --color-nestopia-neutral-600: oklch(49.97% 0 0);
  --color-nestopia-neutral-950: oklch(43.86% 0 0);
  --color-nestopia-black: oklch(0% 0 0);
}
