@theme {
  --color-vines-flexible-linear-ramps-red-50: oklch(83.359% 0.1459 84.813);
  --color-vines-flexible-linear-ramps-red-200: oklch(68.2% 0.1914 45.159);
  --color-vines-flexible-linear-ramps-red-400: oklch(50% 0.1826 30.489);
  --color-vines-flexible-linear-ramps-red-600: oklch(34.799% 0.1123 17.031);
  --color-vines-flexible-linear-ramps-red-800: oklch(24.421% 0.0685 346.026);
  --color-vines-flexible-linear-ramps-red-950: oklch(21.075% 0.0641 330.317);
  --color-vines-flexible-linear-ramps-green-50: oklch(88.208% 0.1793 126.696);
  --color-vines-flexible-linear-ramps-green-200: oklch(73.071% 0.2105 138.745);
  --color-vines-flexible-linear-ramps-green-400: oklch(53.434% 0.1474 148.327);
  --color-vines-flexible-linear-ramps-green-600: oklch(36.494% 0.0627 179.042);
  --color-vines-flexible-linear-ramps-green-800: oklch(25.334% 0.0406 202.951);
  --color-vines-flexible-linear-ramps-green-950: oklch(19.194% 0.042 267.787);
  --color-vines-flexible-linear-ramps-blue-50: oklch(88.286% 0.1185 171.694);
  --color-vines-flexible-linear-ramps-blue-200: oklch(54.085% 0.2114 270.929);
  --color-vines-flexible-linear-ramps-blue-400: oklch(34.656% 0.1406 271.166);
  --color-vines-flexible-linear-ramps-blue-600: oklch(25.631% 0.1035 278.448);
  --color-vines-flexible-linear-ramps-blue-800: oklch(17.72% 0.0723 282.109);
  --color-vines-flexible-linear-ramps-blue-950: oklch(17.294% 0.0442 306.519);
  --color-vines-flexible-linear-ramps-pink-50: oklch(83.23% 0.1019 50.784);
  --color-vines-flexible-linear-ramps-pink-200: oklch(68.769% 0.1902 1.726);
  --color-vines-flexible-linear-ramps-pink-400: oklch(44.317% 0.1706 345.858);
  --color-vines-flexible-linear-ramps-pink-600: oklch(35.673% 0.1243 330.344);
  --color-vines-flexible-linear-ramps-pink-800: oklch(25.999% 0.0797 297.327);
  --color-vines-flexible-linear-ramps-pink-950: oklch(20.684% 0.0561 295.388);
  --color-vines-flexible-linear-ramps-orange-50: oklch(76.555% 0.1544 61.207);
  --color-vines-flexible-linear-ramps-orange-200: oklch(56.553% 0.127 51.778);
  --color-vines-flexible-linear-ramps-orange-400: oklch(40.66% 0.098 41.507);
  --color-vines-flexible-linear-ramps-orange-600: oklch(28.77% 0.0573 21.264);
  --color-vines-flexible-linear-ramps-orange-800: oklch(22.994% 0.0458 14.627);
  --color-vines-flexible-linear-ramps-orange-950: oklch(20.293% 0.0589 319.916);
  --color-vines-flexible-linear-ramps-teal-50: oklch(84.357% 0.0696 185.623);
  --color-vines-flexible-linear-ramps-teal-200: oklch(67.244% 0.0866 226.361);
  --color-vines-flexible-linear-ramps-teal-400: oklch(46.769% 0.078 253.878);
  --color-vines-flexible-linear-ramps-teal-600: oklch(32.762% 0.0811 270.2);
  --color-vines-flexible-linear-ramps-teal-800: oklch(26.389% 0.0689 287.986);
  --color-vines-flexible-linear-ramps-teal-950: oklch(20.343% 0.0579 294.529);
  --color-vines-flexible-linear-ramps-white: oklch(99.207% 0.0172 99.591);
}
