

/** Retro compatibility utility for 8bitcn **/
@utility retro {
  @apply font-sans;
}

@utility pixel-size-* {
  --pixel-size: --value(--pixel-size-*, [length], [*]);
}

@utility pixel-color-* {
  --pixel-color: --value(--color-*, [color]);
}

@utility pixel-drop-* {
  --drop-size: var(--pixel-size, var(--pixel-size-md, 2px));
  --drop-color: --value(--color-*, [color]);

  filter: drop-shadow(
    calc(1 * var(--drop-size, 1px)) 0 0 var(--drop-color)
  )
  drop-shadow(
    calc(-1 * var(--drop-size, 1px)) 0 0 var(--drop-color)
  )
  drop-shadow(
    0 calc(1 * var(--drop-size, 1px)) 0 var(--drop-color)
  )
  drop-shadow(
    0 calc(-1 * var(--drop-size, 1px)) 0 var(--drop-color)
  );
}