

/** Retro compatibility utility for 8bitcn **/
@utility retro {
  @apply font-sans;
}

@utility pixel-size-* {
  --pixel-size: --value(--pixel-size-*, [length]);
}

@utility pixel-drop-* {
  filter: drop-shadow(
    calc(1 * var(--pixel-size, 1px)) 0 0 --value(--color-*, [color])
  )
  drop-shadow(
    calc(-1 * var(--pixel-size, 1px)) 0 0 --value(--color-*, [color])
  )
  drop-shadow(
    0 calc(1 * var(--pixel-size, 1px)) 0 --value(--color-*, [color])
  )
  drop-shadow(
    0 calc(-1 * var(--pixel-size, 1px)) 0 --value(--color-*, [color])
  );
}

@utility pixel-text-2-* {
  text-shadow:
    calc(-1 * var(--pixel-size, 1px)) 0 0 --value(--color-*),
    calc(1 * var(--pixel-size, 1px)) 0 0 --value(--color-*),
    0 calc(-1 * var(--pixel-size, 1px)) 0 --value(--color-*),
    0 calc(1 * var(--pixel-size, 1px)) 0 --value(--color-*);

  text-shadow:
    calc(-1 * var(--pixel-size, 1px)) 0 0 --value([color]),
    calc(1 * var(--pixel-size, 1px)) 0 0 --value([color]),
    0 calc(-1 * var(--pixel-size, 1px)) 0 --value([color]),
    0 calc(1 * var(--pixel-size, 1px)) 0 --value([color]);
}

@utility pixel-text-* {
  text-shadow:
    calc(-1 * var(--pixel-size, 1px)) 0 0 --value(--color-*, [color]),
    calc(1 * var(--pixel-size, 1px)) 0 0 --value(--color-*, [color]),
    0 calc(-1 * var(--pixel-size, 1px)) 0 --value(--color-*, [color]),
    0 calc(1 * var(--pixel-size, 1px)) 0 --value(--color-*, [color]),
    calc(-1 * var(--pixel-size, 1px)) calc(-1 * var(--pixel-size, 1px)) 0
    --value(--color-*, [color]),
    calc(1 * var(--pixel-size, 1px)) calc(-1 * var(--pixel-size, 1px)) 0
    --value(--color-*, [color]),
    calc(-1 * var(--pixel-size, 1px)) calc(1 * var(--pixel-size, 1px)) 0
    --value(--color-*, [color]),
    calc(1 * var(--pixel-size, 1px)) calc(1 * var(--pixel-size, 1px)) 0
    --value(--color-*, [color]);
}