
@theme {

  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    50.01%, 100% {
      opacity: 0;
    }
  }

  @keyframes shine {
    0%, 100% {
      opacity: 1;
    }

    50% {
      opacity: 0.65;
    }
  }

  @keyframes marquee {
    0%,
    100% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(calc(-100% + 100cqw));
    }
  }
}