
@utility hg-theme-pxl {
  --_kb-spacing: var(--keyboard-spacing, 1px);
  @apply w-full overflow-hidden touch-manipulation select-none;


  .hg-row {
    @apply flex;

    &:not(:last-child) {
      @apply mb-(--_kb-spacing);
    }

    > .hg-button:not(:last-child) {
      @apply mr-(--_kb-spacing);
    }
  }

  .hg-button {
    @apply grow items-center flex justify-center h-auto;
  
    span,
    span svg {
      @apply pointer-events-none;
    }

    &.hg-standardBtn {
      @apply aspect-square;
    }

    &.hg-keyMarker {
      @apply transition-all animate-shine duration-2000 bg-(--keyboard-highlight) text-(--keyboard-highlight-foreground);
    }

    &.hg-button-space {
      @apply grow-5;
    }
  }

  &.hg-layout-shift {
    .hg-button-shift {
      --pixel-color: var(--keyboard-shift);
      @apply bg-(--keyboard-shift) text-(--keyboard-shift-foreground);
    }
  }
}

@utility keyboard-shift-bg-* {
  --keyboard-shift: --value(--color-*, [color]);
  --keyboard-shift-alpha: calc(--modifier(integer) * 1%);
  --keyboard-shift: --alpha(--value(--color-*, [color]) / var(--keyboard-shift-alpha, 100%));
}

@utility keyboard-shift-text-* {
  --keyboard-shift-foreground: --value(--color-*, [color]);
  --keyboard-shift-foreground-alpha: calc(--modifier(integer) * 1%);
  --keyboard-shift-foreground: --alpha(--value(--color-*, [color]) / var(--keyboard-shift-foreground-alpha, 100%));
}

@utility keyboard-highlight-bg-* {
  --keyboard-higlight: --value(--color-*, [color]);
  --keyboard-highlight-alpha: calc(--modifier(integer) * 1%);
  --keyboard-highlight: --alpha(--value(--color-*, [color]) / var(--keyboard-highlight-alpha, 100%));
}

@utility keyboard-highlight-text-* {
  --keyboard-higlight-foreground: --value(--color-*, [color]);
  --keyboard-highlight-foreground-alpha: calc(--modifier(integer) * 1%);
  --keyboard-highlight-foreground: --alpha(--value(--color-*, [color]) / var(--keyboard-highlight-foreground-alpha, 100%));
}