@import 'tailwindcss';
@import "@/components/colors/pxl/catppuccin-mocha.css";

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --background: var(--color-catppuccin-mocha-neutral-850);
  --foreground: var(--color-catppuccin-mocha-neutral-50);
  --card: var(--color-catppuccin-mocha-neutral-900);
  --card-foreground: var(--color-catppuccin-mocha-neutral-50);
  --popover: var(--color-catppuccin-mocha-neutral-950);
  --popover-foreground: var(--color-catppuccin-mocha-neutral-50);
  --muted: var(--color-catppuccin-mocha-neutral-800);
  --muted-foreground: var(--color-catppuccin-mocha-neutral-200);
  --accent: var(--color-catppuccin-mocha-neutral-700);
  --accent-foreground: var(--color-catppuccin-mocha-neutral-50);
  --border: var(--color-catppuccin-mocha-neutral-600);
  --input: var(--color-catppuccin-mocha-neutral-600);
  --ring: var(--color-catppuccin-mocha-neutral-300);


  --primary: var(--color-catppuccin-mocha-blue-950);
  --primary-foreground: var(--color-catppuccin-mocha-blue-500);
  --success: var(--color-catppuccin-mocha-green-950);
  --success-foreground: var(--color-catppuccin-mocha-green-500);
  --danger: var(--color-catppuccin-mocha-red-950);
  --danger-foreground: var(--color-catppuccin-mocha-red-500);
  --warning: var(--color-catppuccin-mocha-yellow-950);
  --warning-foreground: var(--color-catppuccin-mocha-yellow-500);
  --info: var(--color-catppuccin-mocha-teal-950);
  --info-foreground: var(--color-catppuccin-mocha-teal-500);
}
