@import 'tailwindcss';
@import "@/components/colors/pxl/dmg-01.css";

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

.colors-dmg-01 {
  --background: var(--color-dmg-01-green-50);
  --foreground: var(--color-dmg-01-green-950);
  --card: var(--color-dmg-01-green-50);
  --card-foreground: var(--color-dmg-01-green-950);
  --popover: var(--color-dmg-01-green-50);
  --popover-foreground: var(--color-dmg-01-green-950);
  --muted: var(--color-dmg-01-green-200);
  --muted-foreground: var(--color-dmg-01-green-700);
  --accent: var(--color-dmg-01-green-200);
  --accent-foreground: var(--color-dmg-01-green-950);
  --border: var(--color-dmg-01-green-200);
  --input: var(--color-dmg-01-green-200);
  --ring: var(--color-dmg-01-green-700);



  --primary: var(--color-dmg-01-accurate-200);
  --primary-foreground: var(--color-dmg-01-accurate-950);
  --danger: var(--color-dmg-01-red-200);
  --danger-foreground: var(--color-dmg-01-red-950);
  --warning: var(--color-dmg-01-red-200);
  --warning-foreground: var(--color-dmg-01-red-950);
  --success: var(--color-dmg-01-green-200);
  --success-foreground: var(--color-dmg-01-green-950);
  --info: var(--color-dmg-01-blue-200);
  --info-foreground: var(--color-dmg-01-blue-950);
}


.dark .colors-dmg-01, [data-theme="dark"] .colors-dmg-01 {
  --background: var(--color-dmg-01-green-950);
  --foreground: var(--color-dmg-01-green-50);
  --card: var(--color-dmg-01-green-950);
  --card-foreground: var(--color-dmg-01-green-50);
  --popover: var(--color-dmg-01-green-950);
  --popover-foreground: var(--color-dmg-01-green-50);
  --muted: var(--color-dmg-01-green-700);
  --muted-foreground: var(--color-dmg-01-green-200);
  --accent: var(--color-dmg-01-green-700);
  --accent-foreground: var(--color-dmg-01-green-50);
  --border: var(--color-dmg-01-green-700);
  --input: var(--color-dmg-01-green-700);
  --ring: var(--color-dmg-01-green-200);



  --primary: var(--color-dmg-01-accurate-700);
  --primary-foreground: var(--color-dmg-01-accurate-50);
  --danger: var(--color-dmg-01-red-700);
  --danger-foreground: var(--color-dmg-01-red-50);
  --warning: var(--color-dmg-01-red-700);
  --warning-foreground: var(--color-dmg-01-red-50);
  --success: var(--color-dmg-01-green-700);
  --success-foreground: var(--color-dmg-01-green-50);
  --info: var(--color-dmg-01-blue-700);
  --info-foreground: var(--color-dmg-01-blue-50);
}