@import 'tailwindcss';
@import "@/components/colors/pxl/fantasy-24.css";

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --background: var(--color-fantasy-24-neutral-50);
  --foreground: var(--color-fantasy-24-neutral-950);
  --card: var(--color-fantasy-24-neutral-50);
  --card-foreground: var(--color-fantasy-24-neutral-950);
  --popover: var(--color-fantasy-24-neutral-50);
  --popover-foreground: var(--color-fantasy-24-neutral-950);
  --muted: var(--color-fantasy-24-neutral-50);
  --muted-foreground: var(--color-fantasy-24-neutral-400);
  --accent: var(--color-fantasy-24-neutral-50);
  --accent-foreground: var(--color-fantasy-24-neutral-600);
  --border: var(--color-fantasy-24-neutral-400);
  --input: var(--color-fantasy-24-neutral-400);
  --ring: var(--color-fantasy-24-neutral-600);
  
  --primary: var(--color-fantasy-24-blue-50);
  --primary-foreground: var(--color-fantasy-24-blue-600);
  --info: var(--color-fantasy-24-brown-50);
  --info-foreground: var(--color-fantasy-24-brown-600);
  --success: var(--color-fantasy-24-green-50);
  --success-foreground: var(--color-fantasy-24-green-600);
  --warning: var(--color-fantasy-24-amber-50);
  --warning-foreground: var(--color-fantasy-24-amber-600);
  --danger: var(--color-fantasy-24-red-50);
  --danger-foreground: var(--color-fantasy-24-red-600);
}


.dark, [data-theme="dark"] {
  --background: var(--color-fantasy-24-neutral-950);
  --foreground: var(--color-fantasy-24-neutral-400);
  --card: var(--color-fantasy-24-neutral-950);
  --card-foreground: var(--color-fantasy-24-neutral-400);
  --popover: var(--color-fantasy-24-neutral-950);
  --popover-foreground: var(--color-fantasy-24-neutral-400);
  --muted: var(--color-fantasy-24-neutral-950);
  --muted-foreground: var(--color-fantasy-24-neutral-600);
  --accent: var(--color-fantasy-24-neutral-950);
  --accent-foreground: var(--color-fantasy-24-neutral-50);
  --border: var(--color-fantasy-24-neutral-600);
  --input: var(--color-fantasy-24-neutral-600);
  --ring: var(--color-fantasy-24-neutral-50);
  
  --primary: var(--color-fantasy-24-blue-600);
  --primary-foreground: var(--color-fantasy-24-blue-50);
  --info: var(--color-fantasy-24-brown-600);
  --info-foreground: var(--color-fantasy-24-brown-50);
  --success: var(--color-fantasy-24-green-400);
  --success-foreground: var(--color-fantasy-24-green-50);
  --warning: var(--color-fantasy-24-amber-600);
  --warning-foreground: var(--color-fantasy-24-amber-50);
  --danger: var(--color-fantasy-24-red-600);
  --danger-foreground: var(--color-fantasy-24-red-50);
}