

@layer base {
  @font-face {
    font-family: "Matrix Sans";
    src: url("/fonts/Matrix_Sans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Matrix Sans Print";
    src: url("/fonts/Matrix_Sans_Print-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Matrix Sans Raster";
    src: url("/fonts/Matrix_Sans_Raster-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Matrix Sans Screen";
    src: url("/fonts/Matrix_Sans_Screen-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Matrix Sans Video";
    src: url("/fonts/Matrix_Sans_Video-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
}