
@layer base {
  @font-face {
    font-family: "MFI Sisperdotze";
    src: url("/fonts/MFI_Sisperdotze-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "MFI Sisperdotze";
    src: url("/fonts/MFI_Sisperdotze-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MFI Sisperdotze";
    src: url("/fonts/MFI_Sisperdotze-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "MFI Sisperdotze Round";
    src: url("/fonts/MFI_Sisperdotze_Round-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "MFI Sisperdotze Round";
    src: url("/fonts/MFI_Sisperdotze_Round-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MFI Sisperdotze Round";
    src: url("/fonts/MFI_Sisperdotze_Round-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}