

@layer base {
  @font-face {
    font-family: "Northrup Tiny";
    src: url("/fonts/Northrup_Tiny.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  

  @font-face {
    font-family: "Northrup Regular";
    src: url("/fonts/Northrup_Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Northrup Extended";
    src: url("/fonts/Northrup_Extended.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Northrup Large";
    src: url("/fonts/Northrup_Large.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Northrup Large Wide";
    src: url("/fonts/Northrup_Large_Wide.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Northrup Mega";
    src: url("/fonts/Northrup_Mega.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Northrup Serif";
    src: url("/fonts/Northrup_Serif.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Northrup Serif Large";
    src: url("/fonts/Northrup_Serif Large.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
}