

@layer base {
  @font-face {
    font-family: "Pixel Ultima";
    src: url("/fonts/Pixel_Ultima-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Pixel Ultima";
    src: url("/fonts/Pixel_Ultima-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}