

@layer base {
  @font-face {
    font-family: "Retrograde";
    src: url("/fonts/Retrograde-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Retrograde";
    src: url("/fonts/Retrograde-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
}